.about__head {
	height: 100vh;
}
.about__body {
	display: flex;
	justify-content: space-between;
}
.about__info {
	width: 50%;
}
.about__info-text {
	margin: 60px 0 0 0;
	h1 {
		font-weight: 700;
		font-size: 32px;
		margin: 0 0 30px 0;
	}
	h2 {
		font-weight: 700;
		font-size: 32px;
		margin: 0 0 30px 0;
	}
	h3 {
		font-weight: 700;
		font-size: 32px;
		margin: 0 0 30px 0;
	}
	h4 {
		font-weight: 700;
		font-size: 32px;
		margin: 0 0 30px 0;
	}
	h5 {
		font-weight: 700;
		font-size: 32px;
		margin: 0 0 30px 0;
	}
	h6 {
		font-weight: 700;
		font-size: 32px;
		margin: 0 0 30px 0;
	}
	p {
		font-size: 24px;
		line-height: 125%;
		margin: 0 0 25px 0;
	}
	ul, ol {
		padding: 0 0 0 30px;
		margin: 0 0 25px 0;
	}
	ul li {
		font-size: 24px;
		margin: 0 0 15px 0;
		list-style-type: disc;
		&:last-child {
			margin: 0;
		}
	}
	ol li {
		font-size: 24px;
		margin: 0 0 15px 0;
		list-style-type: decimal;
		&:last-child {
			margin: 0;
		}
	}
}
.about__slider-wrapper {
	width: 42%;
	position: relative;
}
.about__slider {
	position: relative;
}
.about__slider-abs {
	position: absolute;
	bottom: -78px;
	left: -60px;
	z-index: 15;
}
.about__slider .slick-list {
	border-radius: 0 0 0 253px;
}
.about__slider .slick-dots {
	position: absolute;
	margin: 0;
	flex-direction: column;
	top: 40%;
	right: -50px;
}
.about__slider .slick-arrow.slick-prev {
	top: 34%;
	bottom: auto;
	left: auto;
	right: -50px;
	transform: rotate(90deg);
}
.about__slider .slick-arrow.slick-next {
	bottom: 35%;
	right: -50px;
	transform: rotate(90deg);
}
.about__slider-item {
	width: 446px;
	height: 547px;
	& img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.benefits {
	background: url('../img/about_mramor_bg.jpg')no-repeat center;
	background-size: cover;
	height: 628px;
}
.benefits__body {
	display: flex;
	align-items: center;
	height: 100%;
}
.benefits__items {
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.benefits-item{
	width: 33%;
	&:nth-child(1) .benefits-item__text{
		margin: 0 0 0 62px;
	}
	&:nth-child(3){
		margin: 40px 0 0 0;
		& .benefits-item__text {
			margin: 0 0 0 77px;
		}
	}
}
.benefits-item:nth-child(2){
	width: 25%;
	display: flex;
	align-items: flex-end;
	margin: 0 0 40px 0;
	& .benefits-item__text {
		text-align: center;
	}
}
.benefits-item__text {
	font-weight: 600;
	font-size: 36px;
	line-height: 97%;
	color: #A69873;
}
.benefits-item__number {
	font-family: 'Roboto Condensed';
	font-weight: 800;
	font-size: 128px;
	color: #A69873;
	& p {
		display: flex;
	}
	& span {
		font-size: 100px;
		padding: 7px 0 0 0;
	}
}
.popular_home {
	padding: 120px 0 110px 0;
}
.popular__slider {
	position: relative;
	width: calc(100% + 22px);
	margin: 100px 0 0 -11px;
}
.popular__slider-item {
	margin: 11px;
	display: block;
}
.popular-item__img {
	max-width: 352px;
	height: 440px;
	overflow: hidden;
	& img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		transition: all 0.5s ease;
	}
}
.popular__slider-item:nth-child(2n) .popular-item__img img {
	border-radius: 200px 200px 0 0;
}
.popular__slider-item:nth-child(2n + 1) .popular-item__img img {
	border-radius: 0 0 200px 200px;
}
.popular-item__text {
	font-weight: 500;
	font-size: 32px;
	line-height: 38px;
	text-align: center;
	text-transform: lowercase;
	margin: 20px 0 0 0;
	padding: 0 25px;
	color: #000000;
	transition: all 0.3s ease;
}
.title__wrapper-eployer {
	display: flex;
	justify-content: flex-end;
}
.employer__slider {
	position: relative;
	width: calc(100% + 60px);
	margin: 100px 0 0 -30px;
}
.employer__slider-item {
	margin: 0 30px;
	display: block;
	color: #000;
}
.employer-item__img {
	width: 327px;
	height: 319px;
	overflow: hidden;
	border-radius: 50%;
	& img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 50%;
		transition: all 0.5s ease;
	}
}
.employer-item__info {
	padding: 0 40px;
	font-size: 30px;
	line-height: 120%;
	text-align: center;
}
.employer-item__title {
	font-weight: 600;
	margin: 35px 0 20px 0;
}
.documents__items {
	margin: 100px 0 0 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.documents__item {
	margin: 0 0 25px 0;
	&:last-child {
		margin: 0;
	}
}
.documents__item-button {
	display: block;
	font-weight: 500;
	font-size: 24px;
	text-align: center;
	line-height: 23px;
	text-transform: capitalize;
	border: 1px solid #000000;
	border-radius: 138.5px;
	padding: 25px 0;
	width: 660px;
	transition: all 0.3s ease;
	color: #000000;
}
.test {
	width: 50%;
}
.titles-switch {
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: all 0.7s ease;
}
.contacts__body {
	position: relative;
	height: 670px;
}
.contacts__content {
	display: flex;
	justify-content: space-between;
	position: absolute;
	top: 100px;
	left: 0;
	opacity: 0!important;
	z-index: -10;
	transition: all 1.3s ease;
}
.contacts__content.view-contacts {
	position: relative;
	top: 100px;
	z-index: 10;
	opacity: 1!important;
	transition: all 1.3s ease;
}
.contacts__title {
	font-weight: 500;
	font-size: 48px;
	line-height: 58px;
	color: #A6A4A4;
	cursor: pointer;
	transition: all 0.7s ease;
}

.titles-switch.view-contacts .contacts__title {
	font-weight: 500;
	font-size: 60px;
	line-height: 60px;
	color: #000;
	transition: all 0.7s ease;
}

.title__wrapper-contacts {
	display: flex;
	align-items: flex-start;
	transition: all 0.7s ease;
}
.contacts__info {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.contacts__info-geo a {
	font-weight: 600;
	font-size: 24px;
	color: #000000;
	border-bottom: 1px solid transparent;
	transition: all 0.3s ease;
}
.contacts__info-worktime {
	margin: 30px 0;
	& p {
		font-weight: 500;
		font-size: 24px;
		&:first-child {
			margin: 0 0 10px 0;
		}
	}
}
.contacts__info-number a {
	font-weight: 600;
	font-size: 32px;
	color: #000000;
	border-bottom: 1px solid transparent;
	transition: all 0.3s ease;
}
.contacts__info-email {
	margin: 10px 0 0 0;
	& a {
		font-weight: 500;
		font-size: 24px;
		color: #000000;
		border-bottom: 1px solid transparent;
		transition: all 0.3s ease;
	}
}
.map {
	width: 623px;
	height: 431px;
}
@media only screen and (max-width: 1200px) {
	.about__slider .slick-arrow.slick-prev {
		right: auto;
		left: -25px;
		top: 0;
	}
	.about__slider .slick-arrow.slick-next {
		right: auto;
		left: -25px;
		bottom: 50%;
	}
	.about__slider .slick-dots {
		right: auto;
		left: -25px;
		top: 16%;
	}
	.benefits-item:nth-child(3) .benefits-item__text {
		margin: 0;
	}
}
@media only screen and (max-width: 1100px){
	.employer-item__img {
		margin: 0 auto;
	}
	.titles-switch.view-callback .callback__line, .titles-switch.view-contacts .contacts__line {
		width: 200px!important;
	}
}
@media only screen and (max-width: 1000px) {
	.employer__slider, .documents__items {
		margin: 80px 0 0 0;
	}
	.popular__slider {
		margin: 80px 0 0 -11px;
	}
	.about__body {
		flex-direction: column;
		align-items: center;
	}
	.about__info {
		width: 100%;
	}
	.about__slider .slick-dots {
		left: auto!important;
		right: -50px!important;
		top: 40%;
	}
	.about__slider .slick-arrow.slick-prev {
		left: auto!important;
		right: -49px!important;
		top: 34%;
	}
	.about__info-text {
		margin: 60px 0 60px 0;
	}
	.about__slider-wrapper {
		width: 47%;
	}
	.about__slider .slick-arrow.slick-next {
		left: auto!important;
		right: -49px!important;
		bottom: 35%;
	}
	.popular-item__img {
		margin: 0 auto;
	}
	.main__btn-container {
		width: 100%;
		padding: 75px 20px;
		display: flex;
		justify-content: center;
		background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.7) 100%);
	}
}
@media only screen and (max-width: 950px){
	.callback__img {
		width: 323px;
		height: 445px;
	}
	.benefits__items {
		flex-wrap: wrap;
	}
	.benefits {
		height: auto;
		padding: 120px 0 70px 0;
	}
	.benefits__items {
		justify-content: center;
		padding: 0 60px;
	}
	.benefits-item {
		width: 50%;
	}
	.benefits-item:nth-child(2) {
		width: 50%;
		flex-direction: column-reverse;
		justify-content: flex-end;
		margin: 90px 0 0 0;
	}
	.benefits-item:nth-child(2) .benefits-item__text {
		text-align: right;
		width: 50%;
		margin: 0 100px 0 0;
	}
	.benefits-item:nth-child(1) .benefits-item__text {
		width: 67%;
	}
	.benefits-item:nth-child(3) {
		width: 58%;
		display: flex;
		flex-direction: column-reverse;
	}
	.benefits-item:nth-child(3) .benefits-item__text {
		margin: 0 0 0 100px;
	}
}
@media only screen and (max-width: 900px){
	.contacts__content {
		flex-direction: column;
	}
	.map {
		margin: 30px 0 0 0;
		width: 100%;
	}
	.contacts__content {
		top: 40px;
	}
	.contacts__content.view-contacts {
		top: 40px;
	}
	.about__slider-wrapper {
		width: 53%;
	}
}
@media only screen and (max-width: 850px){
	.benefits-item:nth-child(1) .benefits-item__text {
		width: 89%;
	}
	.benefits-item:nth-child(3) {
		width: 73%;
	}
	.benefits__items {
		padding: 0;
	}
	.contacts__title {
		font-size: 32px;
	}
	.about__info-text p {
		font-size: 20px;
	}
	.about__slider-wrapper {
		width: 68%;
	}
	.documents__item-button {
		width: 450px;
	}
	.documents__item-button {
		padding: 23px 0;
	}
	.employer-item__title {
		margin: 35px 0 15px 0;
	}
}
@media only screen and (max-width: 800px){
	.employer__slider {
		width: 100%;
		margin: 120px 0 0 0;
	}
	.benefits-item:nth-child(3) {
		width: 73%;
	}
	.slick-slider .slick-arrow.slick-next {
		right: 0;
	}
	.slick-slider .slick-arrow.slick-prev {
		left: 0;
	}
	.partners__slider .slick-arrow.slick-next {
		right: 20px;
	}
	.partners__slider .slick-arrow.slick-prev {
		left: 20px;
	}
	.popular-item__img {
		max-width: 500px;
		height: 600px;
		margin: 0 auto;
	}
	.popular__slider {
		width: 100%;
		margin: 80px 0 0 0;
	}
	.popular__slider-item {
		margin: 0;
	}
	.popular__slider-item:nth-child(2n) .popular-item__img img {
		border-radius: 250px 250px 0 0;
	}
	.popular__slider-item:nth-child(2n+1) .popular-item__img img {
		border-radius: 0 0 250px 250px;
	}
	.about__info-text p {
		font-size: 20px;
	}
}
@media only screen and (max-width: 770px){
	.employer-item__img {
		width: 500px;
		height: 500px;
	}
	.employer__slider-item {
		margin: 0;
	}
}
@media only screen and (max-width: 680px){
	.benefits {
		padding: 100px 0 70px 0;
	}
	.benefits__items {
		padding: 0;
	}
	.benefits-item {
		width: 100%!important;
	}
	.benefits-item:nth-child(2) {
		margin: 0;
	}
	.benefits-item:nth-child(2) .benefits-item__text {
		width: 36%;
	}
	.benefits-item:nth-child(1) .benefits-item__text {
		width: 61%;
	}
	.benefits-item:nth-child(3) .benefits-item__text {
		width: 70%;
	}
	.benefits-item:nth-child(3) {
		margin: 0;
	}
	.about__slider-wrapper {
		width: 74%;
	}
}
@media only screen and (max-width: 600px){
	.popular__slider, .employer__slider, .documents__items {
		margin: 60px 0 0 0;
	}
	.contacts__info-number a {
		font-size: 26px;
	}
	.about__slider-abs {
		width: 200px;
		height: 300px;
		bottom: -61px;
		left: -32px;
		transform: rotate(3deg);
		& img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
	.about__slider-wrapper {
		width: 80%;
	}
	.main__btn-container {
		padding: 20px 20px 50px 20px;
	}
	.map {
		height: 350px;
	}
	.partners__slider .slick-arrow.slick-next {
		right: 0;
	}
	.partners__slider .slick-arrow.slick-prev {
		left: 0;
	}
}
@media only screen and (max-width: 550px){
	.titles-switch.view-callback .callback__line, .titles-switch.view-contacts .contacts__line {
		width: 150px!important;
	}
	.about__info-text {
		margin: 60px 0 80px 0;
	}
	.callback__form-title {
		font-size: 20px;
	}
	.callback__form-policits a {
		font-size: 18px;
	}
	.popular-item__text {
		font-size: 25px;
	}
	.employer-item__img {
		width: 400px;
		height: 400px;
	}
	.about__slider-wrapper {
		width: 90%;
	}
	.about__slider .slick-arrow.slick-prev {
		top: -7%;
		right: auto!important;
		left: 20px;
		transform: rotate(0deg);
	}
	.about__slider .slick-arrow.slick-next {
		top: -7%;
		bottom: auto;
		right: 0!important;
		transform: rotate(0deg);
	}
	.about__slider .slick-dots {
		flex-direction: row;
		width: 100%;
		right: 0!important;
		top: -8%;
	}
}
@media only screen and (max-width: 500px){
	.benefits-item__number {
		font-size: 96px;
	}
	.benefits-item__number span {
		font-size: 77px;
		padding: 5px 0 0 0;
	}
	.benefits-item__text {
		font-size: 24px;
	}
	.benefits-item:nth-child(1) .benefits-item__text {
		width: 43%;
	}
	.benefits-item:nth-child(2) .benefits-item__text {
		width: 33%;
		margin: 0 57px 0 0;
	}
	.benefits-item:nth-child(3) .benefits-item__text {
		margin: 0 0 0 110px;
	}
	.popular-item__img {
		height: 500px;
	}
	.about__info-text {
		margin: 20px 0 80px 0;
	}
}
@media only screen and (max-width: 480px){
	.documents__item {
		margin: 0 0 20px 0;
		width: 100%;
	}
	.documents__item-button {
		width: 100%;
		padding: 14px 0;
	}
	.about__info-text {
		margin: 60px 0 100px 0;
	}
	.about__slider .slick-dots {
		top: -10%;
	}
	.about__slider .slick-arrow.slick-next, .about__slider .slick-arrow.slick-prev {
		top: -8%;
	}
	.about__slider-item {
		height: 500px;
	}
	.documents__item-button {
		font-size: 22px;
	}
	.employer-item__img {
		width: 300px;
		height: 300px;
	}
	.employer-item__title, .emloyer-item__text {
		font-size: 24px;
	}
}
@media only screen and (max-width: 420px){
	.contacts__title {
		font-size: 20px;
	}
	.about__slider-item {
		height: 400px;
	}
	.documents__item-button {
		font-size: 18px;
	}
	.popular-item__img {
		height: 400px;
	}
	.contacts__info-geo a {
		font-size: 19px;
	}
	.about__slider-abs {
		width: 160px;
		height: 170px;
		bottom: -30px;
		left: -37px;
	}
	.about__slider .slick-list {
		border-radius: 0 0 0 153px;
	}
	.about__info-text p {
		font-size: 18px;
	}
}
@media only screen and (max-width: 390px){
	.callback__form-title {
		font-size: 18px;
	}
	.callback__form-policits a {
		font-size: 16px;
	}
	.documents__item-button {
		font-size: 16px;
	}
	.employer-item__img {
		width: 280px;
		height: 280px;
	}
	.benefits-item:nth-child(1) .benefits-item__text {
		width: 59%;
	}
	.benefits-item:nth-child(2) .benefits-item__text {
		width: 45%;
	}
	.about__slider-wrapper {
		width: 96%;
	}
	.about__slider-item {
		height: 340px;
	}
}