.about__head {
	height: 100vh;
}
.about {
	padding: 0 0 180px 0;
}
.about__body {
	display: flex;
	justify-content: space-between;
}
.about__info {
	width: 50%;
}
.about__info-text {
	margin: 60px 0 0 0;
	h1 {
		font-weight: 700;
		font-size: 32px;
		margin: 0 0 30px 0;
	}
	h2 {
		font-weight: 700;
		font-size: 32px;
		margin: 0 0 30px 0;
	}
	h3 {
		font-weight: 700;
		font-size: 32px;
		margin: 0 0 30px 0;
	}
	h4 {
		font-weight: 700;
		font-size: 32px;
		margin: 0 0 30px 0;
	}
	h5 {
		font-weight: 700;
		font-size: 32px;
		margin: 0 0 30px 0;
	}
	h6 {
		font-weight: 700;
		font-size: 32px;
		margin: 0 0 30px 0;
	}
	p {
		font-size: 24px;
		line-height: 125%;
		margin: 0 0 25px 0;
	}
	ul, ol {
		padding: 0 0 0 30px;
		margin: 0 0 25px 0;
	}
	ul li {
		font-size: 24px;
		margin: 0 0 15px 0;
		list-style-type: disc;
		&:last-child {
			margin: 0;
		}
	}
	ol li {
		font-size: 24px;
		margin: 0 0 15px 0;
		list-style-type: decimal;
		&:last-child {
			margin: 0;
		}
	}
}
.about__slider-wrapper {
	width: 42%;
	position: relative;
}
.about__slider {
	position: relative;
}
.about__slider-abs {
	position: absolute;
	bottom: -78px;
	left: -60px;
	z-index: 15;
}
.about__slider .slick-track {
	flex-direction: column;
}
.about__slider .slick-list {
	border-radius: 0 0 0 253px;
}
.about__slider .slick-dots {
	position: absolute;
	margin: 0;
	flex-direction: column;
	top: 40%;
	right: -50px;
}
.about__slider .slick-arrow.slick-prev {
	top: 34%;
	bottom: auto;
	left: auto;
	right: -50px;
	transform: rotate(90deg);
}
.about__slider .slick-arrow.slick-next {
	bottom: 35%;
	right: -50px;
	transform: rotate(90deg);
}
.about__slider-item {
	width: 446px;
	height: 547px;
	& img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.benefits {
	background: url('../img/about_mramor_bg.jpg')no-repeat center;
	background-size: 100% 100%;
	height: 628px;
}
.benefits__body {
	display: flex;
	align-items: center;
	height: 100%;
}
.benefits__items {
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.benefits-item{
	width: 33%;
	&:nth-child(1) .benefits-item__text{
		margin: 0 0 0 62px;
	}
	&:nth-child(3){
		margin: 40px 0 0 0;
		& .benefits-item__text {
			margin: 0 0 0 77px;
		}
	}
}
.benefits-item:nth-child(2){
	width: 25%;
	display: flex;
	align-items: flex-end;
	margin: 0 0 40px 0;
	& .benefits-item__text {
		text-align: center;
	}
}
.benefits-item__text {
	font-weight: 600;
	font-size: 36px;
	line-height: 97%;
	color: #A69873;
}
.benefits-item__number {
	font-family: 'Roboto Condensed';
	font-weight: 800;
	font-size: 128px;
	color: #A69873;
	& p {
		display: flex;
	}
	& span {
		font-size: 100px;
		padding: 7px 0 0 0;
	}
}
.popular {
	padding: 120px 0 150px 0;
}
.popular__slider {
	position: relative;
	width: calc(100% + 22px);
	margin: 100px 0 0 -11px;
}
.popular__slider-item {
	margin: 11px;
	display: block;
}
.popular-item__img {
	width: auto;
	height: 440px;
	overflow: hidden;
	& img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		transition: all 0.3s ease;
	}
}
.popular__slider-item:nth-child(2n) .popular-item__img img {
	border-radius: 200px 200px 0 0;
}
.popular__slider-item:nth-child(2n + 1) .popular-item__img img {
	border-radius: 0 0 200px 200px;
}
.popular-item__text {
	font-weight: 500;
	font-size: 32px;
	line-height: 38px;
	text-align: center;
	text-transform: lowercase;
	margin: 20px 0 0 0;
	padding: 0 25px;
	color: #000000;
	transition: all 0.3s ease;
}
.eployer {
	padding: 0 0 120px 0;
}
.title__wrapper-eployer {
	display: flex;
	justify-content: flex-end;
}
.eployer__line {
	margin: 20px -131px 0 20px;
}
.employer__slider {
	position: relative;
	width: calc(100% + 60px);
	margin: 120px 0 0 -30px;
}
.employer__slider-item {
	margin: 0 30px;
	display: block;
	color: #000;
}
.employer-item__img {
	width: 327px;
	height: 319px;
	overflow: hidden;
	border-radius: 50%;
	& img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 50%;
		transition: all 0.3s ease;
	}
}
.employer-item__info {
	padding: 0 40px;
	font-size: 30px;
	line-height: 120%;
	text-align: center;
}
.employer-item__title {
	font-weight: 600;
	margin: 35px 0 20px 0;
}
.documents__items {
	margin: 80px 0 0 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.documents__item {
	margin: 0 0 25px 0;
	&:last-child {
		margin: 0;
	}
}
.documents__item-button {
	display: block;
	font-weight: 500;
	font-size: 24px;
	text-align: center;
	line-height: 23px;
	text-transform: capitalize;
	border: 1px solid #000000;
	border-radius: 138.5px;
	padding: 25px 0;
	width: 660px;
	transition: all 0.3s ease;
	color: #000000;
}
.contacts {
	padding: 120px 0;
}
.titles-switch {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
}
.contacts__content {
	display: flex;
	justify-content: space-between;
	max-height: 0;
	opacity: 0;
	overflow: hidden;
	transition: all 0.3s ease;
}
.contacts__content.view-contacts {
	max-height: 1000px;
	opacity: 1;
	transition: all 0.3s ease;
	margin: 100px 0 0 0;
	overflow: visible;
}
.contacts__title {
	font-weight: 500;
	font-size: 48px;
	line-height: 58px;
	color: #A6A4A4;
	cursor: pointer;
}
.contacts__line {
	width: 0;
	transition: all 0.3s ease;
}
.titles-switch.view-contacts .contacts__title {
	font-weight: 500;
	font-size: 60px;
	line-height: 60px;
	color: #000;
}
.titles-switch.view-contacts .contacts__line {
	width: 310px;
	transition: all 0.3s ease;
}
.title__wrapper-contacts {
	display: flex;
	align-items: flex-start;
}
.contacts__info {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.contacts__info-geo a {
	font-weight: 600;
	font-size: 24px;
	color: #000000;
	border-bottom: 1px solid transparent;
	transition: all 0.3s ease;
}
.contacts__info-worktime {
	margin: 30px 0;
	& p {
		font-weight: 500;
		font-size: 24px;
		&:first-child {
			margin: 0 0 10px 0;
		}
	}
}
.contacts__info-number a {
	font-weight: 600;
	font-size: 32px;
	color: #000000;
	border-bottom: 1px solid transparent;
	transition: all 0.3s ease;
}
.contacts__info-email {
	margin: 10px 0 0 0;
	& a {
		font-weight: 500;
		font-size: 24px;
		color: #000000;
		border-bottom: 1px solid transparent;
		transition: all 0.3s ease;
	}
}
.map {
	width: 623px;
	height: 431px;
}