.article__head {
	height: 100vh;
}
.article__head-body {
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	height: 100%;
	position: relative;
}
.article__head-body .main__btn {
	margin: 0 0 150px 0;
}
.articles__items {
	display: flex;
	flex-wrap: wrap;
	width: calc(100% + 56px);
	margin: 100px 0 0 -27px;
}
.articles-item {
	width: calc(33% - 56px);
	margin: 0 27px 50px 27px;
	border: 1px solid #000000;
	border-radius: 164px;
	display: block;
	color: #000000;
}
.articles-item-body {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 35px 25px 70px 25px;
}
.item-body__img {
	width: 271px;
	height: 261px;
	filter: drop-shadow(4.67923px 9.35847px 9.35847px rgba(0, 0, 0, 0.25));
	overflow: hidden;
	border-radius: 100%;
	& img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 100%;
		transition: all 0.3s ease;
	}
}
.item-body__title {
	font-size: 32px;
	line-height: 38px;
	text-align: center;
	text-transform: uppercase;
	margin: 25px 0 15px 0;
}
.item-body__text {
	font-size: 20px;
	line-height: 24px;
	text-align: center;
}
@media only screen and (max-width: 1050px){
	.articles__items {
		justify-content: center;
	}
	.articles-item {
		width: calc(37% - 56px);
	}
}
@media only screen and (max-width: 1000px){
	.article__head-body .main__btn {
		margin: 0!important;
	}
	.article__head-body {
		padding: 0!important;
	}
	.article__head-body {
		justify-content: center;
	}
}
@media only screen and (max-width: 950px){
	.articles-item {
    width: calc(41% - 56px);
	}
}
@media only screen and (max-width: 850px){
	.item-body__img {
		width: 250px;
		height: 250px;
	}
	.article__head-body .main__btn {
		margin: 0 0 120px 0;
	}
	.articles__items {
		margin: 60px 0 0 -27px;
	}
	.articles-item {
    width: calc(50% - 56px);
		margin: 0 27px 60px 27px;
	}
	.item-body__title {
		font-size: 30px;
	}
	.item-body__text {
		font-size: 18px;
	}
}
@media only screen and (max-width: 750px){
	.articles-item {
    width: calc(50% - 56px);
	}
}
@media only screen and (max-width: 700px){
	.item-body__img {
		width: 250px;
		height: 240px;
	}
}
@media only screen and (max-width: 640px){
	.article__head-body .main__btn {
		margin: 0 0 60px 0;
	}
	.articles__items {
		width: 100%;
		margin: 50px 0 0 0;
	}
	.item-body__img {
		width: 250px;
		height: 240px;
	}
	.articles-item {
    width: 54%;
		margin: 0 0 60px 0;
		&:last-child {
			margin: 0;
		}
  }
}
@media only screen and (max-width: 550px){
	.articles-item {
    width: 58%;
  }
}
@media only screen and (max-width: 500px){
	.articles-item {
    width: 67%;
  }
}
@media only screen and (max-width: 450px){
	.articles-item {
    width: 75%;
  }
}
@media only screen and (max-width: 420px){
	.articles-item {
    width: 85%;
  }
}
@media only screen and (max-width: 370px){
	.articles-item {
    width: 100%;
  }
}