.header {
	position: fixed;
	width: 100%;
	background: linear-gradient(180deg, rgba(217, 217, 217, 0.9) 0%, rgba(217, 217, 217, 0) 83%);
	background-blend-mode: luminosity;
	mix-blend-mode: luminosity;
	backdrop-filter: blur(6.43328px);
	padding: 35px 0 10px 0;
	z-index: 9999;
	transition: all 0.5s ease;
}
.header.header_bg {
	transform: translateY(-100%);
}
.header__body {
	display: flex;
	justify-content: space-between;
}
.header__logo-link {
	display: block;
	width: 368px;
	height: 88px;
	& img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.header__content {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.header-info, .header__down {
	display: flex;
}

.header-item {
	display: flex;
	align-items: center;
	&:nth-child(2){
		margin: 0 40px;
	}
}
.item-phone__text {
	font-weight: 600;
	font-size: 25px;
	margin: 0 0 0 12px;
}
.item-geo__text {
	font-weight: 400;
	font-size: 20px;
	margin: 0 0 0 12px;
}
.item__social:first-child {
	margin: 0 17px 0 0;
}
.header__down {
	margin: 30px 0 0 0;
	align-items: center;
}
.custom-select {
	border: none;
	font-size: 24px;
	background: transparent;
}
.current_page_item {
	font-weight: 700!important;
	font-size: 32px!important;
	line-height: 38px!important;
	border-bottom: 1px solid #000!important;
	text-transform: uppercase!important;
}
.header__list {
	position: relative;
	display: flex;
	align-items: center;
}
.header__list>li {
	font-weight: 500;
	font-size: 24px;
	margin: 0 35px 0 0;
	border-bottom: 1px solid transparent;
	transition: all 0.3s ease;
	color: #000;
}
.header__list>li>a {
	color: #000;
}
.header__list>.menu-item-has-children>ul {
	position: absolute;
	width: 1200px;
	top: 30px; left: -50px; right: -50px;
	left: auto;
	padding: 0 120px 0 120px;
	background: #FFFFFF;
	display: flex;
	flex-wrap: wrap;
	transition: all 0.3s ease;
	max-height: 0;
	overflow: hidden;
	opacity: 0;
}
.header__list>.menu-item-has-children>ul .menu-item-has-children ul {
	display: flex;
	flex-direction: column;
}
.header__list>.menu-item-has-children>ul>li {
	width: 33%;
	font-size: 24px;
	font-weight: 600;
	text-align: center;
	margin: 0 0 20px 0;
	position: relative;
	cursor: pointer;
	text-transform: uppercase;
}
.header__list>.menu-item-has-children>ul>li>a {
	color: #000;
	pointer-events: none;
}
.header__list>.menu-item-has-children>ul>li::before {
	content: '';
	position: absolute;
	right: 0;
	top: 10px;
	width: 20px;
	height: 18px;
	background: url('../img/svg/icon_arrow-more.svg')no-repeat;
	background-size: cover;
	transition: all 0.3s ease;
}
.header__list>.menu-item-has-children>ul>.down::before {
	transform: rotate(180deg);
	transition: all 0.3s ease;
}
.header__list>.menu-item-has-children>ul>.menu-item-has-children>ul {
	padding: 0 0 0 50px;
	margin: 20px 0 0 0;
	display: flex;
	max-height: 0;
	overflow: hidden;
	opacity: 0;
	transition: all 0.3s ease;
}
.header__list>.menu-item-has-children>ul>.menu-item-has-children>ul>li {
	font-weight: 400;
	font-size: 25px;
	line-height: 30px;
	text-transform: none;
	text-align: left;
	color: #756E66;
}
.header__list>.menu-item-has-children>ul>.menu-item-has-children>ul>li>a {
	color: #756E66;
}
.header__list>.menu-item-has-children>ul>.down ul {
	max-height: 300px;
	opacity: 1;
	overflow: visible;
	transition: all 0.3s ease;
}