.header {
	position: fixed;
	width: 100%;
	background: linear-gradient(180deg, rgba(217, 217, 217, 0.9) 0%, rgba(217, 217, 217, 0) 83%);
	background-blend-mode: luminosity;
	mix-blend-mode: luminosity;
	backdrop-filter: blur(6.43328px);
	padding: 35px 0 10px 0;
	z-index: 9999;
	transition: all 0.5s ease;
}
.header.header_bg {
	transform: translateY(-100%);
}
.header__body {
	display: flex;
	justify-content: space-between;
}
.header__logo-link {
	display: block;
	width: 368px;
	height: 88px;
	& img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.header__content {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.header-info, .header__down {
	display: flex;
}

.header-item {
	display: flex;
	align-items: center;
	&:nth-child(2){
		margin: 0 40px;
	}
}
.item-phone__text {
	font-weight: 600;
	font-size: 25px;
	margin: 0 0 0 12px;
}
.item-geo__text {
	font-weight: 400;
	font-size: 20px;
	margin: 0 0 0 12px;
}
.item__social:first-child {
	margin: 0 17px 0 0;
}
.header__down {
	margin: 30px 0 0 0;
	align-items: center;
}
.custom-select {
	border: none;
	font-size: 24px;
	background: transparent;
}
.current_page_item {
	font-weight: 700!important;
	font-size: 32px!important;
	line-height: 38px!important;
	border-bottom: 1px solid #000!important;
	text-transform: uppercase!important;
}
.header__list {
	position: relative;
	display: flex;
	align-items: center;
}
.header__list>li {
	font-weight: 500;
	font-size: 24px;
	margin: 0 35px 0 0;
	border-bottom: 1px solid transparent;
	transition: all 0.3s ease;
	color: #000;
	cursor: pointer;
}
.header__list>.menu-item-has-children>a {
	pointer-events: none;
}
.header__list>li>a {
	color: #000;
}
.header__list>.menu-item-has-children>ul {
	position: absolute;
	width: 1200px;
	top: 30px; left: -50px; right: -50px;
	left: auto;
	padding: 0 120px 0 120px;
	background: #FFFFFF;
	display: flex;
	flex-wrap: wrap;
	transition: all 0.3s ease;
	max-height: 0;
	overflow: hidden;
	opacity: 0;
}
.header__list>.menu-item-has-children>ul::-webkit-scrollbar {
	width: 3px;
}

.header__list>.menu-item-has-children>ul::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.header__list>.menu-item-has-children>ul::-webkit-scrollbar-thumb {
	background-color: darkgrey;
	outline: 1px solid slategrey;
}
.header__list>.menu-item-has-children>ul .menu-item-has-children ul {
	display: flex;
	flex-direction: column;
}
.header__list>.menu-item-has-children>ul>li {
	width: 33%;
	font-size: 24px;
	font-weight: 600;
	text-align: center;
	margin: 0 0 20px 0;
	position: relative;
	cursor: pointer;
	text-transform: uppercase;
}
.header__list>.menu-item-has-children>ul>li>a {
	color: #000;
	pointer-events: none;
}
.header__list>.menu-item-has-children>ul>li::before {
	content: '';
	position: absolute;
	right: 0;
	top: 6px;
	width: 20px;
	height: 18px;
	background: url('../img/svg/icon_arrow-more.svg')no-repeat;
	background-size: cover;
	transition: all 0.3s ease;
}
.header__list>.menu-item-has-children>ul>.down::before {
	transform: rotate(180deg);
	transition: all 0.3s ease;
}
.header__list>.menu-item-has-children>ul>.menu-item-has-children>ul {
	padding: 0 0 0 50px;
	margin: 20px 0 0 0;
	display: flex;
	max-height: 0;
	overflow: hidden;
	opacity: 0;
	transition: all 0.3s ease;
}
.header__list>.menu-item-has-children>ul>.menu-item-has-children>ul>li {
	font-weight: 400;
	font-size: 25px;
	line-height: 30px;
	text-transform: none;
	text-align: left;
	color: #756E66;
}
.header__list>.menu-item-has-children>ul>.menu-item-has-children>ul>li>a {
	color: #756E66;
}
.header__list>.menu-item-has-children>ul>.down ul {
	max-height: 300px;
	opacity: 1;
	overflow: visible;
	transition: all 0.3s ease;
}
.header-mobile {
	display: none;
}
.header__burger {
	display: block;
	position: relative;
	width: 30px;
	height: 20px;
	z-index: 3;
	cursor: pointer;
	z-index: 9999;
}
.header__burger span {
	position: absolute;
	background-color: #000;
	right: 0;
	width: 50%;
	height: 4px;
	border-radius: 50px;
	top: 8px;
	transition: all 0.3s ease 0s;
}
.header__burger:before,
.header__burger:after {
	content: '';
	background-color: #000;
	position: absolute;
	width: 100%;
	height: 4px;
	border-radius: 50px;
	left: 0;
	transition: all 0.3s ease 0s;
}
.header__burger:before {
	top: 0;
}
.header__burger:after {
	bottom: 0;
}
.header__burger.active span {
	transform: scale(0);
}
.header__burger.active:before {
	transform: rotate(45deg);
	top: 7px;
}
.header__burger.active:after {
	transform: rotate(-45deg);
	bottom: 9px;
}

@media only screen and (max-width: 1020px){
	.header-item:nth-child(2) {
		margin: 0 30px;
	}
	.header__list>li {
		margin: 0 30px 0 0;
	}
}
@media only screen and (max-width: 1000px){
	.header {
		padding: 20px 0 10px 0;
	}
	.header__content {
		display: none;
	}
	.header-mobile {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		justify-content: center;
	}
	.haeder-mobile__links {
		display: flex;
		margin: 0 0 20px 0;
	}
	.header__link-geo {
		width: 29px;
		height: 35px;
		margin: 0 15px 0 0;
		& img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
	.header__link-phone {
		width: 29px;
		height: 35px;
		& img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
	.header__body {
		position: relative;
	}
	.header-mobile__nav {
		position: absolute;
		bottom: -128px;
		left: 0;
		width: 100%;
		background: #FFFFFF;
		max-height: 0;
		opacity: 0;
		overflow: hidden;
		transition: all 0.3s ease;
	}
	.header-mobile__nav.active {
		max-height: 200px;
		opacity: 1;
		overflow: visible;
		padding: 40px 0;
	}
	.header__list>.menu-item-has-children>ul {
		width: 100%;
		left: 0;
		right: auto;
		top: 79px
	}
	.header__list>.down>ul {
		max-height: 750px;
		opacity: 1;
		padding: 50px 0 25px 0;
		overflow: visible;
	}
	.current_page_item {
		font-size: 24px!important;
		font-weight: 500!important;
		border-bottom: 1px solid transparent!important;
		text-transform: none!important;
	}
	.header__list {
		justify-content: center;
		height: 100%;
	}
}
@media only screen and (max-width: 500px){
	.header__logo-link {
		width: 254px;
		height: 62px;
	}
}
@media only screen and (max-width: 380px){
	.header__logo-link {
		width: 170px;
		height: 45px;
	}
	.header__logo {
		display: flex;
		align-items: center;
	}
}