.links {
	display: flex;
	width: 100%;
	height: 100vh;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.link {
	margin: 0 0 20px 0;
	& a {
		color: #3d3d3d;
		font-size: 24px;
		border-bottom: 1px solid transparent;
		transition: all 0.3s ease;
	}
}
.social-abs {
	position: fixed;
	bottom: 30px;
	right: 30px;
	z-index: 20;
}
.social-abs__item, .social-abs__chat, .social-abs__cross {
	background: #EBC5BF;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.7s ease;
}
.social-abs__item {
	margin: 0 0 10px 0;
}
.social-abs__items {
	transform: translateY(200%);
	opacity: 0;
	transition: all 0.7s ease;
	max-height: 0;
}
.social-abs.up .social-abs__items {
	transform: translateY(0);
	opacity: 1;
	transition: all 0.7s ease;
	max-height: 700px;
}
.social-abs__btn {
	position: relative;
	cursor: pointer;
}
.social-abs.up .social-abs__cross {
	top: 0;
	opacity: 1;
	transition: all 0.7s ease;
}
.social-abs.up .social-abs__chat {
	transform: translateY(200px);
	opacity: 0;
	transition: all 0.7s ease;
}
.social-abs__cross {
	position: absolute;
	top: 200px;
	opacity: 0;
	transition: all 0.7s ease;
}
.pulse-button__rings.second {
	bottom: -2px;
}
.pulse-button__rings {
  border: 1px solid #e4a89f;
  position: absolute;
  top: -1px;
  left: -1px;
  bottom: -3px;
  right: -1px;
  height: auto;
  width: auto;
  border-radius: 50%;
  animation-duration: 2.0s;
  animation-name: pulse_1;
  animation-iteration-count: infinite;
}
.pulse-button__rings:nth-child(2) {
  animation-name: pulse_2;
}
.pulse-button__rings:nth-child(3) {
  animation-name: pulse_3;
}
@keyframes pulse_1 {
  from {
    opacity: 1;
    transform: scale(0.9, 0.9);
  }
 
  to {
    opacity: 0;
    transform: scale(1.3, 1.3);
  }
}
 
@keyframes pulse_2 {
  from {
    opacity: 1;
    transform: scale(0.8, 0.8);
  }
 
  to {
    opacity: 0;
    transform: scale(1.5, 1.5);
  }
}
 
@keyframes pulse_3 {
  from {
    opacity: 1;
    transform: scale(0.8, 0.8);
  }
 
  to {
    opacity: 0;
    transform: scale(1.7, 1.7);
  }
}
.social-item__img, .social-abs__img {
	display: block;
	width: 27px;
	height: 27px;
	cursor: pointer;
	& img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.crumbs {
	padding: 60px 0;
}
.crumbs__content {
	display: flex;
	flex-wrap: wrap;
	font-size: 24px;
	letter-spacing: 0.03em;
	align-items: flex-end;
}
.crumb__page-link {
	color: #A6A4A4;
	text-transform: capitalize;
}
.crumb__page-link.current {
	font-weight: 600;
	color: #A69873;
	text-decoration-line: underline;
}
.crumb__line {
	margin: 0 10px;
	color: #A69873;
}
.title__wrapper {
	display: flex;
	align-items: flex-start;
}
.slick-track {
	display: flex;
}
.slick-list {
	overflow: hidden;
}
.slick-slider .slick-arrow {
	position: absolute;
	z-index: 10;
	font-size: 0;
	width: 20px;
	height: 18px;
	border: none;
	border-radius: 0;
	box-shadow: none;
}
.slick-slider .slick-arrow.slick-prev {
	background: url('../img/svg/icon_arrow-prev.svg');
	background-size: 100% 100%;
	bottom: -1px;
	left: 30%;
}
.slick-slider .slick-arrow.slick-next {
	background: url('../img/svg/icon_arrow-next.svg');
	background-size: 100% 100%;
	bottom: -1px;
	right: 30%;
}
.slick-slider .slick-dots {
	display: flex;
	justify-content: center;
	margin: 60px 0 0 0;
	& li {
		list-style: none;
		margin: 0 4px;
		& button {
			font-size: 0;
			width: 15px;
			height: 15px;
			border-radius: 50%;
			border: 1px solid rgb(0, 0, 0);
			background: transparent;
		}
	}
}
.slick-slider .slick-dots li.slick-active button {
	width: 15px;
	height: 15px;
	background: #000;
	border: 1px solid rgb(0, 0, 0);
}
.home__body {
	position: relative;
}
.adaptive__head-bg {
	height: 100vh;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	& img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		min-height: 900px;
	}
}
.home__slider-item {
	width: auto;
	height: 100vh;
	position: relative;
	display: flex;
	justify-content: center;
	& picture {
		width: 100%;
		height: 100%;
	}
	& img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.home__slider {
	position: relative;
}
.home__slider .slick-dots {
	margin: 0;
	position: absolute;
	bottom: 50px;
	width: 100%;
}
.home-btn__wrapper {
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	z-index: 10;
	position: absolute;
	width: 1200px;
	height: 100%;
	bottom: 150px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	text-align: center;
}
.home-sliders__wrapper {
	position: relative;
}
.home-slider__text .slick-list {
	padding: 0 25px 27px 0!important;
}
.home-slider__text {
	position: absolute;
	z-index: 10;
	width: calc(1200px + 27px);
	height: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	bottom: 235px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	text-align: center;
}
.slider-text__item {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.home__info {
	position: absolute;
	width: 1200px;
	bottom: 0;
	margin: 0 0 150px 0;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;
}
.home-info__title {
	font-weight: 300;
	font-size: 100px;
	line-height: 100px;
	text-align: right;
	text-transform: uppercase;
	width: 50%;
}
.help {
	padding: 70px 0 150px 0;
}
.help__items {
	margin: 100px 0 0 -17px;
	display: flex;
	flex-wrap: wrap;
	width: calc(100% + 34px);
}
.help-item {
	display: block;
	width: calc(20% - 34px);
	margin: 0 17px 20px 17px;
	border: 1px solid #000000;
	border-radius: 138.5px;
	padding: 20px 15px 50px 15px;
	min-height: 312px;
}
.help-item__img {
	width: auto;
	height: 160px;
	overflow: hidden;
	border-radius: 50%;
	box-shadow: 4.67923px 9.35847px 9.35847px rgba(0, 0, 0, 0.25);
	& img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		transition: all 0.5s ease;
	}
}
.help-item__text {
	font-weight: 400;
	font-size: 25px;
	line-height: 30px;
	text-align: center;
	margin: 20px 0 0 0;
	color: #000000;
	transition: all 0.3s ease;
}
.med__body {
	max-width: 1000px!important;
	display: flex;
	justify-content: space-between;
}
.med__slider {
	position: relative;
	width: 49%;
}
.med__slider .slick-dots {
	position: absolute;
	bottom: 600px;
	margin: 0;
	width: 100%;
}
.med__slider .slick-arrow.slick-next {
	bottom: 600px;
	right: auto;
	right: 30%;
	z-index: 1000;
}
.med__slider .slick-arrow.slick-prev {
	bottom: 600px;
	right: auto;
	left: 30%;
	z-index: 1000;
}
.med-item {
	display: flex;
	justify-content: space-between;
}
.med-item__wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.med-item__info {
	padding: 0 20px;
	margin: 0 0 83px 0;
	max-height: 230px;
	overflow: auto;
}
.med-item__info::-webkit-scrollbar {
  width: 3px;               /* ширина scrollbar */
}
.med-item__info::-webkit-scrollbar-track {
	background: #D9D9D9;
	border-radius: 7px;        /* цвет дорожки */
}
.med-item__info::-webkit-scrollbar-thumb {
  background-color: #000;    /* цвет плашки */
  border-radius: 7px;       /* закругления плашки */
}
.med-item__title {
	font-weight: 600;
	font-size: 50px;
	margin: 0 0 20px 0;
	text-transform: uppercase;
}
.med-item__text {
	font-weight: 500;
	font-size: 24px;
}
.med__slider .slick-list {
	border-radius: 0 0 225px 225px;
}
.med-item__img {
	width: 490px;
	height: 567px;
	& img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		display: block;
	}
}
.med__dots-wrapper {
	position: relative;
}
.med__dots-img {
	width: 490px;
	height: 677px;
	& video {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 293px 293px 0 0;
		margin: 80px 0 0 0;
	}
	&>img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 293px 293px 0 0;
		margin: 80px 0 0 0;
		display: none;
	}
}
.med__dots-img::before {
	content: '';
	position: absolute;
	top: 0;
	right: -75px;
	width: 316px;
	height: 358px;
	background: url('../img/med_text.png');
}
.med__dots-abs-1, .med__dots-abs-2 {
	display: none;
}
.popup__form-item input:focus::placeholder, .review__form-item input:focus::placeholder, .callback__form input:focus::placeholder {
	color: transparent;
	transition: all 0.3s ease;
}
.reviews {
	margin: 40px 0 0 0;
	padding: 80px 0 60px 0;
	background: url('../img/reviews_bg.jpg')no-repeat;
	background-position: center;
	background-size: cover;
	transition: all 0.3s ease;
}
.reviews__slider {
	position: relative;
	margin: 70px 0 0 0;
}
.reviews__slider .slick-list {
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}
.reviews-item__img-wrapper {
	background: #FFFFFF;
	padding: 40px 35px;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}
.reviews-item__img {
	width: 370px;
	height: 370px;
	& img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}
.reviews-item__content {
	background: rgba(255, 255, 255, 0.15);
	opacity: 0.9;
	max-width: 660px;
	height: 450px;
	backdrop-filter: blur(7.5px);
	padding: 40px 75px 50px 75px;
}
.reviews__btn-wrapper {
	display: none;
}
.reviews-item__name {
	font-weight: 600;
	font-size: 24px;
}
.reviews-item__stars {
	display: flex;
	margin: 15px 0;
}
.reviews-item__star {
	margin: 0 5px 0 0;
}
.reviews-item__star.gold path {
	fill: #EEC112;
}
.reviews-item__title {
	font-weight: 600;
	font-size: 22px;
	line-height: 30px;
	margin: 0 0 15px 0;
}
.reviews-item__text {
	font-weight: 500;
	font-size: 22px;
	line-height: 30px;
	max-height: 92px;
	overflow: hidden;
	transition: all 0.3s ease;
}
.reviews-item__more-button {
	display: block;
	font-weight: 700;
	font-size: 20px;
	text-decoration-line: underline;
	text-transform: uppercase;
	color: #A69873;
	background: transparent;
	border: none;
	margin: 5px 0 25px 0;
	transition: all 0.3s ease;
}
.reviews-item__feedback-button {
	background: rgba(255, 255, 255, 0.7);
	box-shadow: inset 4px 4px 20px rgba(128, 28, 78, 0), 4px 4px 20px rgba(0, 0, 0, 0.25);
	border-radius: 50px;
	font-weight: 600;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #000000;
	border: none;
	padding: 13px 36px;
	transition: all 0.3s ease;
}
.callback {
	padding: 0 0 120px 0;
}
.callback__content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: -70px 0 0 0;
	position: absolute;
	top: 0;
	z-index: -10;
	opacity: 0;
	left: 0;
	transition: all 0s ease;
}
.callback__content.view-callback {
	opacity: 1;
	position: relative;
	z-index: 10;
	top: 0;
	transition: all 1.5s ease;
}
.callback__title {
	font-weight: 500;
	font-size: 48px;
	line-height: 58px;
	color: #A6A4A4;
	cursor: pointer;
}
.callback__form {
	width: 46%;
}

.callback__img {
	width: 472px;
	height: 649px;
	& img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 337px 337px 0 0;
	}
}
.callback__form-title {
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
	margin: 0 0 60px 0;
}
.callback__form-policits {
	padding: 30px 0 0 0;
	& a {
		font-weight: 500;
		font-size: 24px;
		line-height: 30px;
		color: #A6A4A4;
	}
}
.callback__form-item {
	margin: 0 0 30px 0;
}
.callback__form {
	input {
		font-weight: 500;
		font-size: 24px;
		text-transform: capitalize;
		color: #A6A4A4;
		border: 1px solid #000000;
		border-radius: 50px;
		padding: 20px 50px;
		width: 100%;
		transition: all 0.3s ease;
	}
	input[type=submit] {
		background: #F1DDDA;
		box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
		border-radius: 50px;
		border: 1px solid transparent;
		font-weight: 600;
		font-size: 24px;
		line-height: 29px;
		text-align: center;
		letter-spacing: 0.08em;
		text-transform: uppercase;
		color: #000000;
		cursor: pointer;
		transition: all 0.3s ease;
	}
}
.partners__slider {
	position: relative;
	width: calc(100% + 100px);
	margin: 80px 0 0 -50px;
}
.partners__slider-item {
	width: auto;
	height: 158px;
	margin: 0 100px;
	& img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}
.clinic {
	padding: 60px 0 80px 0;
	background: #F0EAE4;
}
.clinic__body {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
.clinic__info {
	width: 61%;
}
.clinic__info-title {
	font-weight: 700;
	font-size: 55px;
	text-transform: uppercase;
}
.clinic__info-subtitle {
	font-weight: 400;
	font-size: 60px;
	text-transform: lowercase;
	color: #000000;
	text-align: right;
	margin: 20px 0 40px 0;
}
.clinic__info-redactor {
	max-height: 550px;
	overflow: auto;
	padding: 0 25px 0 0;
	h1 {
		font-weight: 700;
		font-size: 32px;
		margin: 0 0 30px 0;
	}
	h2 {
		font-weight: 700;
		font-size: 32px;
		margin: 0 0 30px 0;
	}
	h3 {
		font-weight: 700;
		font-size: 32px;
		margin: 0 0 30px 0;
	}
	h4 {
		font-weight: 700;
		font-size: 32px;
		margin: 0 0 30px 0;
	}
	h5 {
		font-weight: 700;
		font-size: 32px;
		margin: 0 0 30px 0;
	}
	h6 {
		font-weight: 700;
		font-size: 32px;
		margin: 0 0 30px 0;
	}
	p {
		font-size: 24px;
		line-height: 125%;
		margin: 0 0 25px 0;
	}
	ul, ol {
		padding: 0 0 0 30px;
		margin: 0 0 25px 0;
	}
	ul li {
		font-size: 24px;
		margin: 0 0 15px 0;
		list-style-type: disc;
		&:last-child {
			margin: 0;
		}
	}
	ol li {
		font-size: 24px;
		margin: 0 0 15px 0;
		list-style-type: decimal;
		&:last-child {
			margin: 0;
		}
	}
}
.clinic__info-redactor::-webkit-scrollbar {
  width: 12px;               /* ширина scrollbar */
}
.clinic__info-redactor::-webkit-scrollbar-track {
  background: #D9D9D9;
	border-radius: 7px;        /* цвет дорожки */
}
.clinic__info-redactor::-webkit-scrollbar-thumb {
  background-color: #000;    /* цвет плашки */
  border-radius: 7px;       /* закругления плашки */
}
.clinic__img {
	width: 400px;
	height: 636px;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 194px 194px 0 0;
	}
}
//404
.error__head {
	height: 96vh;
}
.error__info {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	padding: 0 20px;
	justify-content: center;
	align-items: flex-end;
}
.error-info__title {
	font-size: 60px;
	margin: 0 0 40px 0;
	width: 55%;
	text-align: right;
}
.error-info__btn {
	color: #000;
}
@media only screen and (max-width: 1160px){
	.social-abs {
		right: 20px;
	}
	.med__body {
		justify-content: center;
	}
	.med__slider {
		width: 47%;
		margin: 0 20px 0 0;
	}
	.med-item__img {
		width: 470px;
	}
	.med__dots-img {
		width: 470px;
	}
}
@media only screen and (max-width: 1125px){
	.reviews__slider .slick-list {
		box-shadow: none;
	}
	.reviews-item__img-wrapper {
		max-width: 430px;
		margin: 0 auto;
	}
	.reviews-item__content {
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
	}
	.reviews__slider .slick-list {
		padding: 10px 0 20px 0!important;
	}
	.reviews__slider .slick-dots {
		margin: 40px 0 0 0;
	}
	.reviews__btn-wrapper {
		display: flex;
		justify-content: center;
		margin: 55px 0 0 0;
	}
	.reviews-btn__feedback {
		background: rgba(255, 255, 255, 0.8);
		box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
		border-radius: 50px;
		font-weight: 600;
		font-size: 16px;
		line-height: 19px;
		text-align: center;
		letter-spacing: 0.08em;
		text-transform: uppercase;
		border: 1px solid transparent;
		padding: 23px 65px;
		transition: all 0.3s ease;
		color: #000000;
	}
	.reviews-item__feedback-button {
		display: none;
	}
	.reviews-item__more-button {
		margin: 10px 0 0 0;
	}
}
@media only screen and (max-width: 1220px){
	.home-btn__wrapper {
		width: 100%;
		padding: 0 20px;
	}
	.home-slider__text {
		width: 100%;
	}
}
@media only screen and (max-width: 1100px){
	.clinic__info {
		width: 57%;
	}
	.med__slider {
		width: 42%;
	}
	.med-item__img {
		width: 410px;
	}
	.med__dots-img {
		width: 410px;
	}
	.med__dots-img::before {
		right: -82px;
	}
	.dots-item__one {
    top: 50%;
    left: 3%;
	}
}
@media only screen and (max-width: 1000px){
	.med__dots-img {
		& video {
			display: none;
		}
		& img {
			display: block;
		}
	}
	.med__dots-abs-1 {
		display: block;
		position: absolute;
		right: 20%;
		top: 100px;
		animation-name: test;
		animation-duration: 5s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
	}
	.med__dots-abs-2 {
		display: block;
		position: absolute;
		right: 15%;
		bottom: 30%;
		animation-name: test;
		animation-duration: 5s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
	}
	@keyframes test {
		0% {
			opacity: 1;
		}
		50% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
	.home-btn__wrapper {
		background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.7) 100%);
		bottom: 0;
		height: 305px;
		justify-content: center;
		& button {
			margin: 0 0 115px 0;
		}
	}
	.home-info__title {
		font-size: 80px;
		text-align: center;
		width: 100%;
	}
	.home-slider__text .slick-list {
		padding: 0!important;
	}
	.home-slider__text {
		bottom: 210px;
	}
	.home__slider .slick-dots {
		z-index: 10;
	}
	.help-item {
		min-height: auto;
	}
	.help__items {
		flex-direction: column;
		align-items: center;
		width: 100%;
		margin: 100px 0 0 0;
	}
	.help-item__body {
		display: flex;
		align-items: center;
	}
	.help-item__img {
		width: 120px;
		height: 120px;
	}
	.help-item__text {
		margin: 0 0 0 30px;
		width: calc(100% - 150px);
		text-align: left;
	}
	.help-item {
		width: 48%;
		margin: 0 0 30px 0;
		padding: 14px 15px;
		&:last-child {
			margin: 0;
		}
	}
	.med__body {
		flex-direction: column-reverse;
		align-items: flex-end;
	}
	.med__dots-img img {
		margin: 0;
	}
	.med__slider {
		width: 100%;
		margin: 15px 0 0 0;
	}
	.med-item__img {
		width: 450px;
		height: 500px;
		& img {
			border-radius: 0 0 191px 191px;
		}
	}
	.med__slider .slick-list {
		border-radius: 0 0 0 191px;
	}
	.med__dots-img {
		width: 490px;
		height: 600px;
	}
	.med__dots-img::before {
		top: -90px;
		right: auto;
		left: -72px;
		background: url('../img/med_text-medium.png');
		width: 295px;
		height: 275px;
	}
	.med__slider .slick-dots {
		position: relative;
		bottom: auto;
		margin: 35px 0 0 0;
	}
	.med__slider .slick-arrow.slick-next {
		bottom: 0;
	}
	.med__slider .slick-arrow.slick-prev {
		bottom: 0;
	}
	.med-item__info {
		width: 45%;
		max-height: 450px;
		margin: 0;
		padding: 0 0 0 20px;
	}
	.med-item__title {
		text-align: right;
	}
	.med-item__wrapper {
		flex-direction: row-reverse;
		justify-content: center;
	}
	.partners__slider {
		width: calc(100% + 50px);
		margin: 50px 0 0 -25px;
	}
	.partners__slider-item {
		margin: 0 50px;
	}
	.clinic__body {
		flex-direction: row-reverse;
	}
	.clinic__info {
		width: 65%;
	}
	.clinic__info-redactor {
		max-height: 490px;
	}
	.clinic__img {
		width: 265px;
		height: 490px;
	}
	.clinic__info-subtitle {
		text-align: left;
	}
	.clinic__info-title {
		text-align: right;
	}
}
@media only screen and (max-width: 950px){
	.contacts__body {
		height: 600px!important;
	}
}
@media only screen and (max-width: 900px){
	.contacts__body {
		height: auto!important;
	}
	.help-item {
		width: 54%;
	}
}
@media only screen and (max-width: 850px){
	.reviews {
		padding: 90px 0 100px 0;
	}
	.help-item {
		width: 65%;
	}
	.callback__title {
		font-size: 32px;
	}
	.callback__form-title {
		font-size: 20px;
		line-height: 25px;
		margin: 0 0 50px 0;
	}
	.callback__form-policits {
		padding: 10px 0 0 0;
		a {
			font-size: 16px;
			line-height: 20px;
		}
	}
	.callback__form input {
		font-size: 20px;
		padding: 15px 30px;
	}
	.callback__form input[type=submit] {
		font-size: 16px;
		padding: 12px 0;
	}
	.help__items {
		margin: 80px 0 0 0;
	}
	.slick-slider .slick-dots {
		margin: 35px 0 0 0;
	}
	.crumbs {
		padding: 40px 0;
	}
	.error-info__title {
		font-size: 48px;
		width: 65%;
	}
	.med__dots-img {
		width: 400px;
		height: 550px;
	}
	.med__dots-img::before {
		top: -105px;
		left: -85px;
	}
	.med__dots-abs-2 {
		width: 200px;
		height: 100px;
		& img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
	.med__dots-abs-1 {
		width: 200px;
		height: 100px;
		right: 16%;
		& img {
			width: 100%;
			background-size: contain;
		}
	}
	.med-item__img {
		width: 382px;
		height: 462px;
	}
	.med-item__info {
		width: 50%;
	}
	.clinic__info-title, .clinic__info-subtitle {
		font-size: 34px;
	}
	.clinic__info-redactor {
		padding: 0 20px 0 0;
		margin: 0 0 0 50px;
	}
	.clinic__info-redactor p {
		font-size: 16px;
		margin: 0 0 15px 0;
	}
	.clinic__info {
		width: 60%;
	}
	.dots-item__one {
		left: 6%;
	}
	.dots-item__three {
    top: 18%;
    right: 17%;
	}
	.dots-item__four {
    top: 37%;
    right: 10%;
	}
	.dots-item__five {
    top: 67%;
    right: 14%;
	}
	.clinic {
		padding: 60px 0 80px 0;
	}
}
@media only screen and (max-width: 782px){
	.error__head {
		height: 94vh;
	}
}
@media only screen and (max-width: 750px){
	.clinic__info {
		width: 55%;
	}
	.error-info__title {
		width: 83%;
	}
	.clinic__info-redactor {
		margin: 0 0 0 10px;
	}
}
@media only screen and (max-width: 700px){
	.help-item {
		width: 74%;
	}
	.callback__img {
		display: none;
	}
	.callback__form {
		width: 100%;
	}
}
@media only screen and (max-width: 680px){
	.home-info__title {
		font-size: 60px;
	}
}
@media only screen and (max-width: 650px){
	.med__dots-abs-1 {
		top: 50px;
		width: 180px;
		height: 100px;
	}
	.med__dots-abs-2 {
		width: 180px;
		height: 100px;
	}
	.clinic__info-title {
		text-align: left;
	}
	.clinic__info-subtitle {
		text-align: right;
		margin: 15px 0 60px 0;
	}
	.med-item__img {
		width: 280px;
		height: 360px;
	}
	.med__dots-img {
		width: 350px;
		height: 400px;
	}
	.clinic__img {
		display: none;
	}
	.clinic__info {
		width: 100%;
	}
	.reviews-item__content {
		padding: 30px 30px;
	}
}
@media only screen and (max-width: 600px){
	.reviews {
		padding: 80px 0 90px 0;
	}
	.help-item {
		width: 80%;
	}
	.crumb__page-link {
		font-size: 16px;
	}
	.help__items, .reviews__slider {
		margin: 60px 0 0 0;
	}
	.slick-slider .slick-dots li.slick-active button {
		width: 11px;
		height: 11px;
	}
	.slick-slider .slick-dots li button {
		width: 11px;
		height: 11px;
	}
	.crumbs {
		padding: 30px 0;
	}
	.error-info__title {
		font-size: 40px;
		width: 83%;
	}
	.partners__slider {
		width: calc(100% + 20px);
		margin: 50px 0 0 -10px;
	}
	.partners__slider-item {
		margin: 0 20px;
	}
}
@media only screen and (max-width: 580px){
	.med-item__title {
		font-size: 28px;
	}
	.med-item__text {
		font-size: 18px;
	}
	.med-item__info {
		max-height: 360px;
	}
	.med__slider .slick-list {
    border-radius: 0 0 0 130px;
	}
}
@media only screen and (max-width: 500px){
	.help {
		padding: 70px 0 110px 0;
	}
	.help-item {
		width: 90%;
	}
	.home-slider__text {
		bottom: 130px;
	}
	.home-btn__wrapper {
		height: 205px;
	}
	.home__slider .slick-dots {
		bottom: 22px;
	}
	.home-btn__wrapper button {
		margin: 0 0 60px 0;
	}
	.home-info__title {
		font-size: 45px;
		line-height: 45px;
	}
	.crumb__line {
		font-size: 16px;
		display: flex;
		align-items: flex-end;
	}
	.error__info {
		align-items: center;
		padding: 0 20px;
	}
	.error-info__title {
		font-size: 36px;
		width: 100%;
		text-align: center;
	}
}
@media only screen and (max-width: 480px){
	.med__dots-abs-1 {
		top: 60px;
		right: 23%;
		width: 120px;
		height: 100px;
	}
	.med__dots-abs-2 {
		width: 140px;
		height: 100px;
	}
	.slick-slider .slick-arrow {
		width: 11px;
		height: 9px;
	}
	.med__dots-img::before {
		background: url('../img/med_text-small.png');
		width: 180px;
		height: 170px;
		top: -60px;
		left: -55px;
	}
	.med__slider .slick-list {
    border-radius: 0 0 0 95px;
	}
	.med__slider .slick-list img {
		border-radius: 0 0 95px 95px;
	}
	.med-item__info {
    max-height: 270px;
	}
	.med-item__img {
		width: 190px;
		height: 270px;
	}
	.med__dots-img {
		width: 240px;
		height: 330px;
	}
	.help-item__text {
		margin: 0 0 0 15px;
		width: calc(100% - 135px);
	}
	.partners__slider {
		width: 100%;
		margin: 40px 0 0 0;
	}
	.partners__slider-item {
		margin: 0;
	}
	.reviews-item__img {
		width: 320px;
		height: 320px;
		margin: 0 auto;
	}
	.reviews-item__img-wrapper {
		padding: 40px 0;
	}
	.reviews-item__content {
		height: 400px;
	}
	.reviews-item__title {
		font-size: 20px;
	}
	.reviews-item__text {
		font-size: 20px;
	}
	.reviews-item__more-button {
		font-size: 18px;
	}
	.reviews-item__content {
		box-shadow: none;
	}
	.reviews__slider .slick-list {
		box-shadow: 0 4px 15px rgb(0 0 0 / 25%);
		padding: 0!important;
	}
}
@media only screen and (max-width: 420px){
	.callback__title {
		font-size: 20px;
	}
	.error-info__title {
		font-size: 32px;
	}
	.callback__form input[type=submit] {
		font-size: 20px;
	}
	.callback__form input {
		font-size: 20px;
	}
	.callback__form-title {
		margin: 0 0 30px 0;
	}
	.callback__form-policits {
		margin: 10px 0 0 0;
	}
	.med-item__title {
		font-size: 24px;
		font-weight: 700;
	}
	.med-item__info {
		padding: 0 0 0 10px;
	}
	.med-item__text {
		font-size: 16px;
	}
	.help-item__text {
		font-size: 20px;
		width: calc(100% - 115px);
	}
	.help-item {
    width: 95%;
		padding: 9px 15px;
	}
	.help-item__img {
		width: 100px;
		height: 100px;
	}
	.clinic__info-redactor p {
		font-size: 16px;
		margin: 0 0 10px 0;
	}
	.reviews-item__stars {
		margin: 8px 0;
	}
	.reviews-item__title {
		font-size: 18px;
		margin: 0 0 10px 0;
	}
	.reviews-item__text {
		font-size: 16px;
	}
}
@media only screen and (max-width: 370px){
	.error-info__title {
		font-size: 26px;
	}
	.clinic__info-subtitle, .clinic__info-title {
		font-size: 28px;
	}
	.reviews-item__img {
		width: 270px;
		height: 270px;
	}
	.reviews-item__content {
		height: 350px;
	}
}
@media only screen and (max-width: 340px){
	.med-item__img {
		width: 150px;
		height: 230px;
	}
	.med__slider .slick-dots {
		margin: 10px 0 0 0;
	}
}