.service__head-inside {
	height: 100vh;
	position: relative;
}
.service__body-inside {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: flex-end;
	height: 100%;
	position: relative;
}
.service__body-btns {
	display: flex;
	flex-direction: column;
	margin: 0 0 150px 0;
	& a {
		color: #000;
	}
}
.sercive-body__btn:first-child {
	margin: 0 0 35px 0;
}
.inside {
	padding: 0 0 85px 0;
}
.inside__slider {
	position: relative;
}
.inside__slider .slick-list {
	padding: 17px 0!important;
}
.inside__slider-item {
	display: flex;
	justify-content: center;
}
.inside-item__img-first {
	width: 490px;
	height: 677px;
	margin: 0 10px 0 0;
	position: relative;
	&>img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 245px 0 0 0;
	}
}
.inside-item__img-first::before {
	content: '';
	position: absolute;
	top: -90px;
	left: -55px;
	background: url('../img/slider_before_text.png');
	width: 185px;
	height: 215px;
	transform: rotate(-1deg);
}
.inside-item__img-second {
	width: 490px;
	height: 677px;
	position: relative;
	&>img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 0 0 245px 0;
	}
}
.inside-item__img-second::before {
	content: '';
	position: absolute;
	right: -50px;
	bottom: -55px;
	background: url('../img/slide_after_text.png');
	width: 185px;
	height: 215px;
	transform: rotate(-8deg);
}
.inside .title__wrapper {
	margin: 0 0 40px 0;
}
.inside__content {
	padding: 40px 0;
}
.inside-btns__section, .inside-slider__section, .inside__video-section, .inside__proc-section, .inside-slide__section-two {
	padding: 40px 0;
}
.inside__btns {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.inside__btns-line {
	height: 2px;
	background: #A69873;
	width: 600px;
}
.inside__btns-title {
	font-family: 'Roboto Condensed';
	font-style: normal;
	font-weight: 300;
	font-size: 55px;
	text-transform: capitalize;
	color: #A69873;
	margin: 25px 0 35px 0;
}
.inside__btns-wrapper {
	display: flex;
}
.inside__btn {
	background: rgba(255, 255, 255, 0.8);
	box-shadow: inset 4px 4px 20px rgba(128, 28, 78, 0), 4px 4px 20px rgba(0, 0, 0, 0.25);
	border-radius: 50px;
	font-weight: 600;
	font-size: 24px;
	text-align: center;
	letter-spacing: 0.08em;
	text-transform: uppercase;
	color: #000000;
	border: none;
	display: block;
	padding: 27px 0;
	width: 400px;
	transition: all 0.3s ease;
	& a {
		color: #000;
		display: block;
	}
	&:first-child {
		margin: 0 100px 0 0;
	}
}
.when__body {
	display: flex;
	justify-content: space-between;
}
.when__img {
	width: 487px;
	height: 611px;
	margin: 50px 0 0 0;
	& img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 270px 270px 0 0;
	}
}
.when__body .wp__redactor {
	width: 50%;
	margin: 0 0 0 40px;
}
.mony {
	background: url('../img/inside_bg.jpg')no-repeat center;
	padding: 110px 0 75px 0;
	background-size: cover;
	margin: 40px 0
}
.mony__text {
	width: 75%;
	h1 {
		font-weight: 700;
		font-size: 32px;
		text-transform: uppercase;
		margin: 0 0 30px 0;
	}
	h2 {
		font-weight: 700;
		font-size: 32px;
		margin: 0 0 30px 0;
		text-transform: uppercase;
	}
	h3 {
		font-weight: 700;
		font-size: 32px;
		margin: 0 0 30px 0;
		text-transform: uppercase;
	}
	h4 {
		font-weight: 700;
		font-size: 32px;
		margin: 0 0 30px 0;
		text-transform: uppercase;
	}
	h5 {
		font-weight: 700;
		font-size: 32px;
		margin: 0 0 30px 0;
		text-transform: uppercase;
	}
	h6 {
		font-weight: 700;
		font-size: 32px;
		margin: 0 0 30px 0;
		text-transform: uppercase;
	}
	p {
		font-size: 27px;
		font-weight: 500;
		line-height: 125%;
		margin: 0 0 25px 0;
	}
	ul, ol {
		padding: 0 0 0 30px;
	}
	ul li {
		list-style-type: disc;
		font-size: 27px;
		font-weight: 500;
		margin: 0 0 20px 0;
	}
	ol li {
		list-style-type: decimal;
		font-size: 27px;
		font-weight: 500;
		margin: 0 0 20px 0;
	}
}
.wp__redactor {
	width: 75%;
	h1 {
		font-weight: 700;
		font-size: 32px;
		margin: 0 0 30px 0;
	}
	h2 {
		font-weight: 700;
		font-size: 32px;
		margin: 0 0 30px 0;
	}
	h3 {
		font-weight: 700;
		font-size: 32px;
		margin: 0 0 30px 0;
	}
	h4 {
		font-weight: 700;
		font-size: 32px;
		margin: 0 0 30px 0;
	}
	h5 {
		font-weight: 700;
		font-size: 32px;
		margin: 0 0 30px 0;
	}
	h6 {
		font-weight: 700;
		font-size: 32px;
		margin: 0 0 30px 0;
	}
	p {
		font-size: 24px;
		line-height: 125%;
		margin: 0 0 25px 0;
	}
	ul, ol {
		padding: 0 0 0 30px;
		margin: 0 0 25px 0;
	}
	ul li {
		font-size: 24px;
		margin: 0 0 15px 0;
		list-style-type: disc;
		&:last-child {
			margin: 0;
		}
	}
	ol li {
		font-size: 24px;
		margin: 0 0 15px 0;
		list-style-type: decimal;
		&:last-child {
			margin: 0;
		}
	}
}
.effect__video {
	margin: 70px 0;
	cursor: pointer;
	& iframe {
		width: 100%;
		height: 100%;
	}
}
.effect__gold {
	padding: 40px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.effect__gold-text {
	text-align: center;
	font-weight: 500;
	font-size: 36px;
	line-height: 111%;
	color: #A69873;
	margin: 50px 0;
}
.effect__proc {
	display: flex;
	justify-content: space-between;
	& .wp__redactor {
		width: 100%;
	}
}
.effect__proc-text {
	width: 50%;
	margin: 0 0 0 40px;
}
.effect__proc-img {
	width: 487px;
	height: 611px;
	& img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 0 0 243px 243px;
	}
}
.effect__slider {
	position: relative;
}
.effect__slider-item {
	width: auto;
	height: 600px;
	& img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.result {
	display: flex;
	justify-content: space-between;
	& .wp__redactor:nth-child(1) {
		width: 48%;
	}
	& .wp__redactor:nth-child(2) {
		width: 37%;
	}
}
.effect__video {
	width: 800px;
	height: 435px;
	margin: 0 auto;
	& img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.faq {
	background: #F0EAE4;
	padding: 80px 0 90px 0;
	margin: 40px 0;
}
.faq__title {
	font-weight: 600;
	font-size: 32px;
	line-height: 30px;
	text-transform: uppercase;
}
.faq__items {
	margin: 40px 0 0 0;
}
.faq-item {
	margin: 0 0 25px 0;
	border-bottom: 1px solid #000000;
	padding: 0 0 20px 0;
	&:last-child {
		margin: 0;
	}
}
.faq-item__plug {
	display: flex;
	cursor: pointer;
	align-items: flex-end;
}
.faq-item__text {
	font-size: 24px;
	line-height: 30px;
	margin: 0 0 0 30px;
}
.faq-answer__text {
	padding: 20px 0 0 53px;
}
.faq-answer__wrappper {
	max-height: 0;
	opacity: 0;
	overflow: hidden;
	transition: all 0.3s ease;
}
.faq-item__arrow {
	transition: all 0.3s ease;
}
.faq-item__plug.down .faq-item__arrow {
	transform: rotate(180deg);
	transition: all 0.3s ease;
}
.btns {
	padding: 80px 0;
}
.btns__body {
	display: flex;
	justify-content: space-around;
}
.btns__body-btn {
	background: rgba(255, 255, 255, 0.8);
	box-shadow: inset 4px 4px 20px rgba(128, 28, 78, 0), 4px 4px 20px rgba(0, 0, 0, 0.25);
	border-radius: 50px;
	font-weight: 600;
	font-size: 24px;
	line-height: 29px;
	text-align: center;
	letter-spacing: 0.08em;
	text-transform: uppercase;
	color: #000000;
	border: none;
	padding: 27px 0;
	width: 400px;
	transition: all 0.3s ease;
}
@media only screen and (max-width: 1100px){
	.inside__slider-item {
		margin: 0 30px;
	}
}
@media only screen and (max-width: 1000px){
	.service__head-inside {
		height: 1150px;
	}
	.service__body-inside {
		padding: 0!important;
	}
	.sercive-body__btn:first-child {
		margin: 0 0 20px 0;
	}
	.service__body-btns {
		width: 100%;
		margin: 0;
		align-items: center;
		background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.7) 100%);
		backdrop-filter: blur(7.5px);
		padding: 20px 20px 75px 20px;
	}
	.when__img {
		width: 305px;
		height: 440px;
	}
	.when__body .wp__redactor {
		width: 64%;
	}
	.wp__redactor, .mony__text {
		width: 100%;
	}
	.result .wp__redactor:nth-child(2) {
		width: 45%;
	}
	.inside__btn {
		width: 350px;
	}
}
@media only screen and (max-width: 850px){
	.inside__btn {
		width: 300px;
	}
	.inside-btns__section, .inside-slide__section-two, .inside-slider__section, .inside__proc-section, .inside__video-section, .inside__content {
		padding: 30px 0;
	}
	.mony, .faq {
		margin: 30px 0;
	}
	.effect__slider-item {
		height: 440px;
	}
	.effect__video {
		width: 100%;
	}
	.effect__gold-text {
		font-size: 28px;
	}
	.result {
		flex-direction: column;
	}
	.result .wp__redactor {
		width: 100%!important;
	}
	.mony {
		padding: 60px 0 90px 0;
	}
}
@media only screen and (max-width: 750px){
	.inside__slider-item {
		flex-direction: column;
		align-items: center;
	}
	.inside-item__img-first {
		height: 500px;
		margin: 0 0 10px 0;
	}
	.inside-item__img-second {
		height: 500px;
		margin: 0;
	}
	.when__body {
		flex-direction: column-reverse;
	}
	.when__body .wp__redactor {
		width: 100%;
		margin: 0 0 20px 0;
	}
	.when__img {
		width: 487px;
		height: 600px;
		margin: 0 auto;
	}
	.inside__btns-wrapper {
		flex-direction: column;
	}
	.inside__btn:first-child {
		margin: 0 0 30px 0;
	}
	.inside__btn {
		width: 400px;
	}
	.mony__text {
		h1 {
			font-size: 24px;
			margin: 0 0 20px 0;
		}
		h2 {
			font-size: 24px;
			margin: 0 0 20px 0;
		}
		h3 {
			font-size: 24px;
			margin: 0 0 20px 0;
		}
		h4 {
			font-size: 24px;
			margin: 0 0 20px 0;
		}
		h5 {
			font-size: 24px;
			margin: 0 0 20px 0;
		}
		h6 {
			font-size: 24px;
			margin: 0 0 20px 0;
		}
		p {
			font-size: 18px;
			margin: 0 0 15px 0;
		}
		ul, ol {
			margin: 0 0 20px 0;
		}
		ul li {
			font-size: 18px;
			margin: 0 0 10px 0;
		}
		ol li {
			font-size: 18px;
			margin: 0 0 10px 0;
		}
	}
	.wp__redactor {
		h1 {
			font-size: 24px;
			margin: 0 0 20px 0;
		}
		h2 {
			font-size: 24px;
			margin: 0 0 20px 0;
		}
		h3 {
			font-size: 24px;
			margin: 0 0 20px 0;
		}
		h4 {
			font-size: 24px;
			margin: 0 0 20px 0;
		}
		h5 {
			font-size: 24px;
			margin: 0 0 20px 0;
		}
		h6 {
			font-size: 24px;
			margin: 0 0 20px 0;
		}
		p {
			font-size: 18px;
			margin: 0 0 15px 0;
		}
		ul, ol {
			margin: 0 0 20px 0;
		}
		ul li {
			font-size: 18px;
			margin: 0 0 10px 0;
		}
		ol li {
			font-size: 18px;
			margin: 0 0 10px 0;
		}
	}
	.effect__gold-text {
		font-size: 20px;
		margin: 20px 0;
	}
	.inside__btns-title {
		font-size: 48px;
	}
}
@media only screen and (max-width: 680px){
	.service__head-inside {
		height: 800px;
	}
	.service__body-btns {
		padding: 20px 20px 50px 20px;
	}
}
@media only screen and (max-width: 600px){
	.effect__slider-item {
		height: 380px;
	}
	.mony {
		padding: 60px 0;
	}
	.inside-btns__section, .inside-slide__section-two, .inside-slider__section, .inside__content, .inside__proc-section, .inside__video-section {
		padding: 20px 0;
	}
	.faq, .mony {
		margin: 20px 0;
	}
	.inside__btns-line {
		width: 100%;
	}
	.effect__video {
		height: 355px;
	}
	.inside__slider {
		width: calc(100% + 40px);
		margin: 0 0 0 -20px;
	}
}
@media only screen and (max-width: 560px){
	.inside-item__img-second, .inside-item__img-first {
		width: 100%;
	}
	.inside__slider {
		width: 100%;
		margin: 0;
	}
}
@media only screen and (max-width: 520px){
	.when__img {
		width: 100%;
	}
}
@media only screen and (max-width: 500px){
	.inside__btns-title {
		font-size: 35px;
	}
	.inside__btns-wrapper {
		width: 100%;
	}
	.inside__btn {
		width: 100%;
		font-size: 16px;
		padding: 18px 0;
	}
	.when__img {
		height: 500px;
	}
}
@media only screen and (max-width: 450px){
	.inside-item__img-first::before {
		background: url('../img/slider_before_text-small.png');
		width: 102px;
		height: 113px;
		top: -21px;
		left: 13px;
		transform: rotate(5deg);
	}
	.inside-item__img-second::before {
		background: url('../img/slide_after_text-small.png');
		width: 117px;
		height: 100px;
		right: -10px;
		bottom: 15px;
		transform: rotate(-5deg);
	}
	.mony__text {
		h1 {
			font-size: 18px;
		}
		h2 {
			font-size: 18px;
		}
		h3 {
			font-size: 18px;
		}
		h4 {
			font-size: 18px;
		}
		h5 {
			font-size: 18px;
		}
		h6 {
			font-size: 18px;
		}
		p {
			font-size: 16px;
		}
		ul li {
			font-size: 16px;
		}
		ol li {
			font-size: 16px;
		}
	}
}
@media only screen and (max-width: 420px){
	.when__img {
		height: 450px;
	}
	.inside-item__img-first, .inside-item__img-second {
		height: 400px;
	}
	.wp__redactor p, .mony__text p {
		font-size: 16px;
	}
	.effect__video, .effect__slider-item {
		height: 320px;
	}
}
@media only screen and (max-width: 350px){
	.inside__slider-item {
		margin: 0 10px;
	}
}