.service__head {
	height: 100vh;
}
.service__body {
	display: flex;
	height: 100%;
	align-items: flex-end;
	justify-content: flex-end;
	position: relative;
}
.sercive__info {
	width: 60%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	position: relative;
	margin: 0 0 150px 0;
}
.service-info__title {
	font-weight: 300;
	width: 80%;
	font-size: 60px;
	line-height: 72px;
	text-align: right;
	text-transform: uppercase;
	margin: 0 0 45px 0;
}
.cosmo__items {
	display: flex;
	flex-wrap: wrap;
	width: calc(100% + 70px);
	margin: 0 0 0 -35px;
}
.cosmo__item {
	width: calc(33% - 70px);
	margin: 0 35px 70px 35px;
	display: block;
	color: #000000;
}
.cosmo__item-img {
	width: 320px;
	height: 400px;
	position: relative;
	& img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		transition: all 0.5s ease;
	}
}
.cosmo__item:nth-child(1) img {
	border-radius: 161px 161px 0 0;
}
.cosmo__item:nth-child(2) img {
	border-radius: 0 161px 0 0;
}
.cosmo__item:nth-child(3) img {
	border-radius: 161px 0 0 0;
}
.cosmo__item:nth-child(4) img {
	border-radius: 0 161px 0 0;
}
.cosmo__item:nth-child(5) img {
	border-radius: 161px 161px 0 0;
}
.cosmo__item:nth-child(6) img {
	border-radius: 161px 0 0 0;
}
.cosmo__item:nth-child(7) img {
	border-radius: 161px 161px 0 0;
}
.cosmo__item:nth-child(8) img {
	border-radius: 161px 0 0 0;
}
.cosmo__item:nth-child(9) img {
	border-radius: 161px 161px 0 0;
}
.cosmo__item:nth-child(10) img {
	border-radius: 0 161px 0 0;
}
.cosmo__item:nth-child(11) img {
	border-radius: 161px 161px 0 0;
}
.cosmo__item:nth-child(12) img {
	border-radius: 161px 0 0 0;
}
.cosmo__item:nth-child(13) img {
	border-radius: 161px 161px 0 0;
}
.cosmo__item:nth-child(14) img {
	border-radius: 161px 161px 0 0;
}
.cosmo__item:nth-child(15) img {
	border-radius: 0 161px 0 0;
}
.cosmo__item:nth-child(16) img {
	border-radius: 161px 0 0 0;
}
.cosmo__item:nth-child(17) img {
	border-radius: 0 161px 0 0;
}
.cosmo__item:nth-child(18) img {
	border-radius: 161px 161px 0 0;
}
.cosmo__item:nth-child(19) img {
	border-radius: 161px 0 0 0;
}
.cosmo__item:nth-child(20) img {
	border-radius: 161px 161px 0 0;
}
.cosmo__item:nth-child(21) img {
	border-radius: 161px 0 0 0;
}
.cosmo__item:nth-child(22) img {
	border-radius: 161px 161px 0 0;
}
.cosmo__item:nth-child(23) img {
	border-radius: 0 161px 0 0;
}
.cosmo__item:nth-child(24) img {
	border-radius: 161px 161px 0 0;
}
.cosmo__item:nth-child(25) img {
	border-radius: 161px 0 0 0;
}
.cosmo__item:nth-child(26) img {
	border-radius: 161px 161px 0 0;
}
.cosmo__item:nth-child(27) img {
	border-radius: 161px 161px 0 0;
}
.cosmo__item:nth-child(28) img {
	border-radius: 0 161px 0 0;
}
.cosmo__item:nth-child(29) img {
	border-radius: 161px 0 0 0;
}
.cosmo__item:nth-child(30) img {
	border-radius: 0 161px 0 0;
}
.cosmo__item:nth-child(31) img {
	border-radius: 161px 161px 0 0;
}
.cosmo__item:nth-child(32) img {
	border-radius: 161px 0 0 0;
}
.cosmo__item:nth-child(33) img {
	border-radius: 161px 161px 0 0;
}
.cosmo__item:nth-child(34) img {
	border-radius: 161px 0 0 0;
}
.cosmo__item:nth-child(35) img {
	border-radius: 161px 161px 0 0;
}
.cosmo__item:nth-child(36) img {
	border-radius: 0 161px 0 0;
}
.cosmo__item:nth-child(37) img {
	border-radius: 161px 161px 0 0;
}
.cosmo__item:nth-child(38) img {
	border-radius: 161px 0 0 0;
}
.cosmo__item:nth-child(39) img {
	border-radius: 161px 161px 0 0;
}
.cosmo__item-img-abs {
	position: absolute;
	text-align: center;
	width: 100%;
	bottom: 0;
	background: rgba(255, 255, 255, 0.6);
	opacity: 0.9;
	backdrop-filter: blur(7.5px);
	height: 120px;
	display: flex;
	padding: 0 10px;
	align-items: center;
	& p {
		font-weight: 600;
		font-size: 28px;
		line-height: 34px;
		text-align: center;
		text-transform: uppercase;
		width: 100%;
	}
}
.cosmo__item-text {
	margin: 10px 0 0 0;
	font-weight: 500;
	line-height: 19px;
	text-align: center;
	text-transform: lowercase;
}
.cosmo__info {
	background: #F0EAE4;
	padding: 100px 0 85px 0;
}
.info__body {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
}
.info__vertical {
	display: flex;
}
.vertical-text {
	writing-mode: vertical-lr;
	transform: rotate(180deg);
	font-weight: 700;
	font-size: 64px;
	line-height: 125%;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	margin: 0 80px 0 0;
}
.vertical-text__wrapper {
	display: flex;
}
.vertical-text__left {
	writing-mode: vertical-lr;
	transform: rotate(180deg);
	font-weight: 300;
	font-size: 96px;
	line-height: 62%;
	text-align: center;
}
.vertical-text__right {
	writing-mode: vertical-lr;
	transform: rotate(180deg);
	font-weight: 300;
	font-size: 96px;
	line-height: 62%;
	text-align: end;
}
.info__content {
	margin: 0 30px 0 0;
}
.info__content-text {
	max-height: 700px;
	overflow: auto;
	padding: 0 25px 0 0;
	& p {
		font-size: 24px;
		line-height: 125%;
		margin: 0 0 20px 0;
	}
	& strong {
		font-weight: 600;
	}
	& ul {
		padding: 0 0 0 30px;
		margin: 0 0 20px 0;
	}
	& ul li {
		list-style-type: disc;
		margin: 0 0 10px 0;
		font-size: 24px;
	}
}
.info__content-text::-webkit-scrollbar {
  width: 12px;               /* ширина scrollbar */
}
.info__content-text::-webkit-scrollbar-track {
  background: #D9D9D9;
	border-radius: 7px;        /* цвет дорожки */
}
.info__content-text::-webkit-scrollbar-thumb {
  background-color: #000;    /* цвет плашки */
  border-radius: 7px;       /* закругления плашки */
}
@media only screen and (max-width: 1100px){
	.cosmo__items {
		width: 100%;
		margin: 0;
		justify-content: space-between;
	}
	.cosmo__item {
		width: calc(50% - 70px);
	}
	.cosmo__item-img {
		margin: 0 auto;
	}
	.cosmo__item-text {
		padding: 0 50px;
	}
}
@media only screen and (max-width: 1000px){
	.cosmo__info {
		padding: 80px 0;
	}
	.sercive__info {
		width: 100%;
		align-items: center;
		background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.7) 100%);
		padding: 20px 20px 75px 20px;
		margin: 0;
	}
	.service__body  {
		padding: 0!important;
	}
	.cosmo__item-text {
    padding: 0 25px;
	}
	.service-info__title {
		text-align: center;
		width: 100%;
		font-size: 55px;
		line-height: 110%;
		margin: 0 0 20px 0;
	}
}
@media only screen and (max-width: 900px){
	.cosmo__item-text {
    padding: 0 10px;
	}
	.info__content {
		margin: 0 10px 0 0;
	}
	.vertical-text {
		font-size: 60px;
		margin: 20px 0 0 0;
	}
	.vertical-text__left, .vertical-text__right {
		font-size: 80px;
	}
}
@media only screen and (max-width: 850px){
	.cosmo__item {
    width: 50%;
		margin: 0 0 70px 0;
	}
	.cosmo__item-text {
    padding: 0 20px;
	}
	.cosmo__item-img {
		width: 300px;
		height: 420px;
	}
}
@media only screen and (max-width: 680px){
	.info__body {
		flex-direction: column;
	} 
	.info__content {
		margin: 0;
	}
	.info__vertical {
		flex-direction: column;
		margin: 0 0 50px 0;
	}
	.vertical-text {
		margin: 0;
		font-size: 44px;
		text-align: right;
	}
	.vertical-text__wrapper {
		justify-content: flex-end;
	}
	.vertical-text__left, .vertical-text__right {
		font-size: 54px;
	}
	.vertical-text, .vertical-text__left, .vertical-text__right {
		writing-mode: horizontal-tb;
		transform: rotate(0deg);
	}
	.sercive__info {
		padding: 20px 20px 50px 20px;
	}
	.cosmo__items {
		width: 100%;
		padding: 80px 0 110px 0;
		margin: 0;
	}
	.cosmo__item-text {
    padding: 0;
    width: 329px;
    margin: 10px auto;
	}
	.cosmo__item-img {
		width: 320px;
	}
	.cosmo__item {
    width: 100%;
		margin: 0 0 50px 0;
		&:last-child {
			margin: 0;
		}
	}
}
@media only screen and (max-width: 600px){
	.cosmo__info {
		padding: 60px 0;
	}
}
@media only screen and (max-width: 520px){
	.info__content-text {
		& p {
			font-size: 20px;
			line-height: 125%;
			margin: 0 0 10px 0;
		}
		& strong {
			font-weight: 600;
		}
		& ul li {
			list-style-type: disc;
			margin: 0 0 10px 0;
			font-size: 20px;
		}
	}
	.vertical-text {
		font-size: 32px;
	}
	.vertical-text__left, .vertical-text__right {
		font-size: 42px;
	}
}
@media only screen and (max-width: 500px){
	.service-info__title {
		font-size: 44px;
	}
	.cosmo__items {
		padding: 50px 0 80px 0;
	}
}
@media only screen and (max-width: 390px){
	.vertical-text {
		font-size: 26px;
	}
	.vertical-text__left, .vertical-text__right {
		font-size: 36px;
	}
}

@media only screen and (max-width: 370px){
	.cosmo__item-img {
		width: 280px;
		height: 360px;
	}
	.cosmo__item-text {
		width: 300px;
	}
}