* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;

	&:hover {
		text-decoration: none;
	}
}

li {
	list-style-type: none;
}

button {
	cursor: pointer;
	outline: 0 none !important;

}

body::-webkit-scrollbar {
	width: 3px;
}

body::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
	background-color: darkgrey;
	outline: 1px solid slategrey;
}

.slick-slide img:focus {
	outline: none !important;
}

.slick-slide:focus {
	outline: none !important;
}

.towar-box-sec5 a {
	outline: none !important;
}

.slick-slide {
	outline: none !important;
}

.slick-slide p {
	outline: none !important;
}

.slick-slide a {
	outline: none !important;
}

.slick-slide div {
	outline: none !important;
}

.slick-track {
	outline: none !important;
}

input {
	outline: 0 none !important;

	font-family: $mainFont
}

input[type=text] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

input[type=tel] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

input[type=email] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

input[type=submit] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

button {
	font-family: $mainFont;
}

select {
	cursor: pointer;
	outline: 0 none !important;
	font-family: $mainFont;
}

textarea {
	outline: 0 none !important;
	font-family: $mainFont;
}

body {
	background: #fff;
	font-family: $mainFont;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $mainFont;
}

ul {
	margin-bottom: 0;
}

.app {
	overflow: hidden;
	min-width: 320px;
}

.container__big {
	max-width: 1190px;
	margin: 0 auto;
}
.container {
	max-width: 1100px;
	margin: 0 auto;
}
.main__btn {
	background: rgba(255, 255, 255, 0.8);
	border-radius: 50px;
	font-weight: 600;
	font-size: 24px;
	line-height: 29px;
	text-align: center;
	letter-spacing: 0.08em;
	text-transform: uppercase;
	border: none;
	padding: 27px 0;
	width: 400px;
	box-shadow: inset 4px 4px 20px rgba(128, 28, 78, 0), 4px 4px 20px rgba(0, 0, 0, 0.25);
	color: #000;
	transition: all 0.3s ease;
	& a {
		color: #000!important;
	}
}
.lock {
	overflow-y: hidden;
}
.right__title {
	text-align: right;
}
.main__title {
	font-weight: 500;
	font-size: 60px;
	line-height: 100%;
}
.main__line {
	height: 3px;
	width: 310px;
	background: #000;
	margin: 20px 20px 0 -131px;
}
.eployer__line {
	height: 3px;
	width: 310px;
	background: #000;
	margin: 20px -131px 0 20px;
}
.callback__line {
	width: 0;
	transition: all 0.3s ease;
	margin: 0;
	height: 3px;
	background: #000;
}
.titles-switch.view-callback .callback__line {
	width: 310px;
	transition: all 0.3s ease;
	margin: 20px 20px 0 -131px;
}
.titles-switch.view-callback .callback__title {
	font-weight: 500;
	font-size: 60px;
	line-height: 60px;
	color: #000;
}
.contacts__line {
	width: 0;
	transition: all 0.3s ease;
	margin: 0;
	height: 3px;
	background: #000;
}
.titles-switch.view-contacts .contacts__line {
	width: 310px;
	transition: all 0.3s ease;
	margin: 20px -131px 0 20px;
}
.eployer, .med {
	padding: 50px 0 70px 0;
}
.popular {
	padding: 100px 0 70px 0;
}
.contacts, .cosmo__items {
	padding: 100px 0 120px 0;
}
.pertners, .price, .articles, .spec, .about {
	padding: 0 0 120px 0;
}
.documents {
	padding: 50px 0 0 0;
}


@media only screen and (max-width: 1210px){
	.container__big {
		padding: 0 20px;
	}
	.home__info {
		width: 100%;
		padding: 0 20px;
	}
}
@media only screen and (max-width: 1120px){
	.container {
		padding: 0 20px;
	}
}
@media only screen and (max-width: 850px){
	.container {
		padding: 0;
		width: 660px;
	}
	.titles-switch.view-callback .callback__title, .titles-switch.view-contacts .contacts__title  {
		font-size: 45px;
	}
}
@media only screen and (max-width: 680px){
	.container {
		width: 100%;
		padding: 0 20px;
	}
}

@media only screen and (min-width: 1000px){
	.social-abs__item:hover, .social-abs__chat:hover, .social-abs__cross:hover {
		box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
		transition: all 0.3s ease;
		transform: translateY(-1px);
	}
	.main__btn:hover, .inside__btn:hover, .btns__body-btn:hover, .reviews-item__feedback-button:hover {
		box-shadow: inset 4px 4px 20px rgba(128, 28, 78, 0), 4px 5px 25px rgba(128, 28, 78, 0.8);
		background: #FFFFFF;
		transition: all 0.3s ease;
	}
	.documents__item-button:hover, .price-item__head:hover {
		border: 1px solid rgb(243, 150, 196);
		box-shadow: inset 4px 4px 20px rgba(128, 28, 78, 0),4px 5px 25px rgba(128, 28, 78, 0.8);
		transition: all 0.3s ease;
	}
	.main__btn:active, .inside__btn:active, .btns__body-btn:active, .documents__item-button:active, .price-item__head:active, .reviews-item__feedback-button:active {
		box-shadow: inset 4px 4px 20px rgba(128, 28, 78, 0.5), 4px 5px 25px rgba(128, 28, 78, 0);
		transition: all 0.3s ease;
	}
	.header__nav ul li a:hover, .footer__service ul li a:hover, .footer__nav ul li a:hover, .contacts__info-geo a:hover, .contacts__info-number a:hover, .contacts__info-email a:hover {
		border-bottom: 1px solid #000;
		transition: all 0.3s ease;
	}
	.help-item:hover .help-item__img img, .articles-item:hover .item-body__img:hover img, .spec-item__img:hover img {
		transform: scale(1.1);
		transition: all 0.3s ease;
	}
	.popular__slider-item:hover .popular-item__img img, .cosmo__item:hover .cosmo__item-img img {
		transform: scale(0.9);
		transition: all 0.3s ease;
	}
	.reviews-item__more-button:hover {
		color: #867955;
	}
	.dots-item__circle:hover {
		transform: scale(1.1);
		transition: all 0.3s ease;
		border: 1px solid #000;
		animation: none;
	}
	.review__form-item input:hover, .callback__form input:hover, .popup__form-item input:hover, .review__form-item.wrapper:hover {
		filter: drop-shadow(0px 0px 10px rgba(128, 28, 78, 0.5));
		border: 1px solid rgba(128, 28, 78, 0.5);
		transition: all 0.3s ease;
	}
	.review__form-item input:focus, .callback__form input:focus, .popup__form-item input:focus {
		filter: drop-shadow(0px 0px 10px rgba(128, 28, 78, 0.5));
		border: 1px solid rgba(128, 28, 78, 0.5);
		transition: all 0.3s ease;
	}
	.callback__form input[type=submit]:hover, .review__form-item input[type=submit]:hover, .popup__form-item input[type=submit]:hover {
		box-shadow: 4px 4px 10px rgba(128, 28, 78, 0.5), inset 4px 4px 20px rgba(128, 28, 78, 0);
		border: 1px color transparent!important;
		transition: all 0.3s ease;
	}
	.callback__form input[type=submit]:active, .review__form-item input[type=submit]:active, .popup__form-item input[type=submit]:active {
		box-shadow: 4px 4px 10px rgba(128, 28, 78, 0), inset 4px 4px 20px rgba(128, 28, 78, 0.5);
		transition: all 0.3s ease;
	}
	.popup__form-item input[type=submit]:hover, .callback__form input[type=submit]:hover, .review__form-item input[type=submit]:hover {
		border: 1px solid transparent;
	}
	.popup__form-item input[type=submit]:focus, .callback__form input[type=submit]:focus, .review__form-item input[type=submit]:focus {
		border: 1px solid transparent;
	}
	.link a:hover {
		border-bottom: 1px solid #3d3d3d;
		transition: all 0.3s ease;
	}
	.employer__slider-item:hover img {
		transform: scale(1.1);
		transition: all 0.3s ease;
	}
}
@media only screen and (max-width: 1000px){
	.eployer, .med {
		padding: 40px 0 60px 0;
	}
  .popular {
		padding: 80px 0 60px 0;
	}
	.contacts, .cosmo__items {
		padding: 80px 0 100px 0;
	}
	.pertners, .price, .articles, .spec, .about {
		padding: 0 0 100px 0;
	}
	.documents {
		padding: 40px 0 0 0;
	}
}
@media only screen and (max-width: 850px){
	.main__line {
		width: 200px;
		margin: 12px 20px 0 -100px;
	}
	.eployer__line {
		width: 200px;
		margin: 12px -100px 0 20px;
	}
	.main__title {
		font-size: 45px;
	}
}
@media only screen and (max-width: 600px){
	.eployer, .med {
		padding: 20px 0 40px 0;
	}
	.popular {
		padding: 60px 0 60px 0;
	}
	.contacts, .cosmo__items {
		padding: 60px 0 80px 0;
	}
	.pertners, .price, .articles, .spec, .about {
		padding: 0 0 80px 0;
	}
	.documents {
		padding: 20px 0 0 0;
	}
}
@media only screen and (max-width: 500px){
	.main__btn {
		font-size: 20px;
		padding: 16px 0;
	}
}
@media only screen and (max-width: 420px){
	.titles-switch.view-callback .callback__title, .titles-switch.view-contacts .contacts__title {
		font-size: 25px;
	}
	.titles-switch.view-callback .callback__line {
		width: 180px!important;
		height: 1.3px;
		margin: 25px 5px 0 -131px;
	}
	.titles-switch.view-contacts .contacts__line {
		width: 180px!important;
		height: 1.3px;
		margin: 25px -131px 0 5px;
	}
	.main__btn {
		width: 100%;
	}
	.main__title {
		font-size: 25px;
	}
	.main__line {
		width: 100px;
		height: 1.3px;
		margin: 7px 8px 0 -30px;
	}
	.eployer__line {
		width: 100px;
		height: 1.3px;
		margin: 7px -30px 0 8px;
	}
}